/* additiona css start*/

#MainContent  .container {
width:100%;
}

#MainContent   .row {
    margin-left: 0px;
    margin-right: 0px;
}


	
#MainContent .products{margin-bottom:20px;}
#MainContent .products .price{color:#000; font-size:12px; margin-bottom:13px;}
#MainContent .products .record{margin-bottom:20px; min-height:260px;}
#MainContent .products .record .image{min-height:200px;border:1px solid #dcdcdc;}
#MainContent .products .record .name{}
#MainContent .products .record .name a{color:#8A8A8A !important;font-weight:bold;}
#MainContent .products .record:hover .masking{opacity: 1;}

#MainContent .products .record .masking{
	    background-color: rgba(129, 0, 0, 0.1);
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: all 0.3s ease-in-out 0s;
		width: 100%;
}

#MainContent .products .record .masking a{
	    left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		
		
}

#MainContent .products .record .masking a{
	    border: 3px solid #ffffff;
		border-radius: 0;
		color: #ffffff;
		font-size: 16px;
		font-weight: 700;
		line-height: 30px;
		min-height: 30px;
		padding: 0px 10px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out 0s;
		background-color:#810000;
}

#MainContent .products .record .masking a:hover{
	    border: 3px solid #810000;
		color: #810000;
		background-color:#ffffff;
		
}

#MainContent .Category .record .image{min-height:200px;border:none !important;}
#MainContent .Category .record .image img{border:1px solid #dcdcdc;}


.filter h4{
    color: #810000;
    font-size: 22px;
    text-transform: uppercase;
}

.filter h4{font-size:14px;}
.filter .LeftList{margin-bottom:20px;}
.filter .LeftList strong{margin-bottom:5px; display:block;font-size:12px;line-height:16px;}
.filter .LeftList .div_wrap{max-height:200px;overflow:auto;}
.filter .LeftList a{display:block; font-size:11px;line-height:17px;color:#464034; margin-bottom:3px; background:url(images/icon.png) no-repeat left; padding:0 0 0 22px;}
.filter .LeftList a.active{background:url(images/icon-active.png) no-repeat left;}
.FilteredBy b{font-size:14px;}
.FilteredBy a {
    background: #dfe3e3 url("images/filter-bg.png") no-repeat scroll;
	 background-position:right -14px;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin: 6px 6px 0 0;
    padding: 0px 30px 0px 10px;
    text-decoration: none;
	font-size:12px;
	line-height:24px;

}

.FilteredBy a:hover {
 background-position:right 9px;	
}

.SortBy{display:inline-block;vertical-align:top;margin-left:5px;}
.pagination{margin:0px;}

.product-img{min-height:300px;border:1px solid #dcdcdc;}


#flexiselDemo2 { display:none; margin-top:20px; margin-bottom:30px;}
.nbs-flexisel-container { position:relative; max-width:100%; padding:0px 20px; }
.nbs-flexisel-ul { position:relative; width:99999px; margin:0px; padding:0px; list-style-type:none; text-align:center; }
.nbs-flexisel-inner { overflow:hidden; float:left; width:100%;}
.nbs-flexisel-item { float:left; margin:2px; padding:0px; cursor:pointer; position:relative; line-height:0px;border:1px solid #dcdcdc;min-height:70px;}
.nbs-flexisel-item img{ cursor: pointer; position: relative; height:auto; max-width:100%; }

/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right { width:20px; height:20px; position: absolute; cursor: pointer; z-index: 100; opacity: 0.5;}
.nbs-flexisel-nav-left{ left:0px; background: url(images/button-previous.png) no-repeat; }
.nbs-flexisel-nav-right{ right:0px; background: url(images/button-next.png) no-repeat; }


.ProductAdditionRow{width:100%;padding:10px 0px;}
#DisplayPriceDetails .norm_price{font-size: 14px;}	
#DisplayPriceDetails .sale_price{ color: #810000;
    font-size: 18px;
    font-weight: bold;}	
	
.add-to-cart{padding:10px 0px;}	

.table-cart .price{text-align:right;}

/* Shopping Cart Page 
***************************************************/
.table-bordered,.table-bordered tr th,.table-bordered tr td{}
.table>thead>tr>th{vertical-align:middle;padding:5px 10px;border-bottom-width:1px;background-color: #cccccc;color:#fff;}

.panel-warning > .panel-heading {
    color: #fff;
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-default , .btn-primary {
    color: #fff;
    background-color: #cccccc;
    border-color: #cccccc;
}

.Button{background-color:#cccccc; border:none; border-radius:5px; color:#fff; font-size:13px; font-weight:700; padding:4px 27px; text-transform:uppercase;}
.Button:hover{background:#810000;color:#fff; text-decoration:none;}

.ButtonMain{background-color:#cccccc;color:#fff; border:none; border-radius:5px; font-size:20px; font-weight:700; padding:10px 27px; text-transform:uppercase;}
.ButtonMain:hover{background:#810000;color:#fff; text-decoration:none;}

.flyout2,.flyout3,.flyout4{display:none;}

.ProfileRight a { display:block; margin-bottom:10px; }

.CMSArea{}

.CMSArea > div  a{
	display:block;
	border-bottom:1px solid #d6c560;
	border-right:1px solid #d6c560;
	background:#eddf8e;
	color:#5a2800;
	font-weight:700;
	font-size:13px;
	margin:1px;
	padding:4px 8px;
    line-height:1;	
	transition: background-color 0.8s ease;
	line-height:2;
	
}
.CMSArea > div a:hover{
	background:#5a2800;
	color:#eddf8e;
	text-decoration:none;
}

.CMSContentText{
overflow: auto;
background: rgb(253, 253, 246) none repeat scroll 0% 0%;
padding: 20px;
width: 600px;
max-width: 100%;
border-radius: 6px;
max-height: 400px;
}

label.error{font-size:11px;color:#800000;
position: absolute;
left: 50px;
top: 26px;
}

@media (max-width: 679px) {
	.CMSArea li{
	width:100%;
	float:none;
	}
}

.ProMgn label,#DisplayPriceDetails label{font-weight:500;color:#8A8A8A;width:60px;}
.product-img{position:relative;}
.product-img .manu-image{position:absolute;right:1px;bottom:1px;z-index:99999}
.btn-success {
    color: #fff;
    background-color: #CCCCCC;
    border-color: #CCCCCC;
}

.btn-success:hover {
    color: #fff;
    background-color: #810000;
    border-color: #810000;
}
.btmLogo .pull-right{margin-right:5px;}

.tooltip{background:#cccccc;}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #cccccc; /* black */
  border-width: 0 5px 5px;
}

.profile_design > div.col-sm-6,.profile_legacy > div.col-sm-6,.profile_processes > div.col-sm-6
{
	margin-bottom:10px;
}




