/*
**
** WebCreationuk Admin v1.1
** 
*******************************/
@font-face {
	font-family: 'Titillium';
	src: url('../fonts/TitilliumText22L004-webfont.eot');
	src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TitilliumText22L004-webfont.woff') format('woff'), url('fonts/TitilliumText22L004-webfont.ttf') format('truetype'), url('../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* === General === */
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	/*background-color: #09a4eb;*/
}
.contentWrapper { background-color: #ffffff; padding: 0; }
a { outline: 0 !important; }
span.welcome { color:#f7bf3d; font-size:13px; text-shadow:1px 1px 1px #017fb9; }
h1 {font-size: 2em; }
h2 {font: 1.5em "Open Sans", "Times New Roman", serif;
	letter-spacing: 1px;
}
h3 {
	font: bold 1em "Open Sans", Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h4 {
	font: bold 1.1em "Open Sans", "Times New Roman", serif;
	letter-spacing: 1px;
	color: #797979;
	font-weight: 300;
	font-size: 16px
}
a { color: #05a1dc }
hr { margin: 0px 0px 10px 0px; }
select { border-color: #E0C47D; }

.pagination ul {
	-webkit-box-shadow: 0 1px 2px rgba(224, 196, 125, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(224, 196, 125, 0.05);
	box-shadow: 0 1px 2px rgba(224, 196, 125, 0.5);
}
.pagination ul > li > a, .pagination ul > li > span { border-color: #E0C47D; }
.pagination ul > li > a:hover { background: #FFFCF4; }
.pagination a { color: #763D00; }
.pagination ul > .active > a:hover,
.pagination ul > .active > a, .pagination ul > .active > span { 
	color: #763D00;
	background-color: #FFE097;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE097), to(#F2D389) );
	background-image: -webkit-linear-gradient(top, #FFE097, #F2D389);
	background-image: -moz-linear-gradient(top, #FFE097, #F2D389);
	background-image: -ms-linear-gradient(top, #FFE097, #F2D389);
	background-image: -o-linear-gradient(top, #FFE097, #F2D389);
	background-image: linear-gradient(top, #FFE097, #F2D389);	
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover { color: #E0C47D; }

.login {
	padding-top: 50px;
	background-color:#fcecc4;
}

.label-inverse {
	font-weight: normal;
	font-size: 11px;
	margin-left: 2px;
}

p.lead {
	margin-top: -18px;
	text-indent:2px;
	font-size: 18px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	color: #797979
}

.well {
	background-color: #fffcf4;
	border: 1px solid #eeddb1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	color: #cdbc89;
	font-size: 13px;
}
.well-footer-support { color: #b1a483; margin: 20px 0 0; }

/* === Header Section === */
.top-line {
	height: 48px;
	line-height: 45px;
	background-color: #720000;
	font-size: 13px;
	color: #858484
}

.top-line .btn {
	margin-top: 0;
}

.login .top-line .container {
	text-align: center;
}

.top-line .brand {
	float: none;
	font-size: 24px;
	font-weight: 600;
	color: #f7bf3d;
	text-shadow: 0 1px 0 #000;
	padding: 0;
	margin: 0 !important;
}

.brand strong {
	font-weight: 600;
	color: #f7bf3d;
}

a.account-type {
	color: #f7bf3d;
}

/* Navbar Blue*/
.navbar-blue {
	color: #999999;
	margin-top: 48px;
	height: 41px;
	z-index: 1000;
}
.btn-lang { text-align: left; }
.btn-lang > a { display: inline-block; }
.btn-lang .caret { vertical-align: middle; margin-left: 5px; border-top-color: #fff; }
.dropdown-menu .active > a, .dropdown-menu .active > a:hover { color: #fff; text-shadow: none; }

.navbar-blue .navbar-inner {
	background-color: #bddef9;
	height: 41px;
	background-image: url("../img/bg_navbar-blue.jpg");
	background-repeat: repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-color: #317fbd;
}

.navbar-blue .brand,.navbar-blue .nav>li>a {
	color: #317fbd;
	font-weight: 600;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	padding-right: 20px;
	padding-left: 20px;
}

.navbar-blue .brand:hover,.navbar-blue .nav>li>a:hover {
	color: #ffffff;
}

.navbar-blue .nav>li>a:focus,.navbar-blue .nav>li>a:hover {
	background-color: #d3e9fb;
	color: #317fbd;
}

.navbar-blue .nav .active>a,.navbar-blue .nav .active>a:hover,.navbar-blue .nav .active>a:focus
	{
	color: #ffffff;
	background-color: #09a4eb;
	text-shadow: 0 1px 0 rgba(49, 127, 189, 1);
}

.navbar-blue .navbar-link {
	color: #999999;
}

.navbar-blue .navbar-link:hover {
	color: #ffffff;
}
.navbar-blue .nav li.dropdown.open>.dropdown-toggle,.navbar-blue .nav li.dropdown.active>.dropdown-toggle,.navbar-blue .nav li.dropdown.open.active>.dropdown-toggle
	{
	color: #ffffff;
	background-color: #09a4eb;
	text-shadow: 0 1px 0 rgba(49, 127, 189, 1);
}

.navbar-blue .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #317fbd;
	border-bottom-color: #317fbd;
	vertical-align: middle;
	margin: 0 0 0 5px;
}

.navbar-blue .nav li.dropdown.open>.dropdown-toggle .caret,.navbar-blue .nav li.dropdown.active>.dropdown-toggle .caret,.navbar-blue .nav li.dropdown.open.active>.dropdown-toggle .caret
	{
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar-blue .navbar-search .search-query {
	color: #ffffff;
	background-color: #ffffff;
	border-color: #bddef9;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0
		rgba(255, 255, 255, 0.15);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.navbar-blue .navbar-search .search-query:-moz-placeholder {
	color: #cccccc;
}

.navbar-blue .navbar-search .search-query:-ms-input-placeholder {
	color: #cccccc;
}

.navbar-blue .navbar-search .search-query::-webkit-input-placeholder {
	color: #cccccc;
}

.navbar-blue .navbar-search .search-query:focus,.navbar-blue .navbar-search .search-query.focused
	{
	padding: 5px 15px;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #ffffff;
	border: 0;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	outline: 0;
}

.navbar-blue .btn-navbar {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #09a4eb;
	background-image: -moz-linear-gradient(top, #8bbfef, #a6d2f7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8bbfef),
		to(#a6d2f7) );
	background-image: -webkit-linear-gradient(top, #8bbfef, #a6d2f7);
	background-image: -o-linear-gradient(top, #8bbfef, #a6d2f7);
	background-image: linear-gradient(to bottom, #8bbfef, #a6d2f7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8bbfef',
		endColorstr='#ffa6d2f7', GradientType=0 );
	border-color: #a6d2f7 #a6d2f7 #5faff1;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #a6d2f7;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
}

.navbar-blue .btn-navbar:hover,.navbar-blue .btn-navbar:active,.navbar-blue .btn-navbar.active,.navbar-blue .btn-navbar.disabled,.navbar-blue .btn-navbar[disabled]
	{
	color: #ffffff;
	background-color: #a6d2f7;
	*background-color: #8ec7f5;
}

.navbar-blue .btn-navbar:active,.navbar-blue .btn-navbar.active {
	background-color: #77bbf3 \9;
}

/* Navbar Blue Divider */
.navbar-blue .divider-vertical {
	height: 40px;
	margin: 0;
	border-left: 1px solid #61a8e1;
	border-right: 1px solid #ffffff;
}

/* Navbar Blue Divider */
.divider-topline {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
	height: 30px;
	border-right: 1px solid #9e0000;
}

.toplinks {
	position: relative;
	display: inline;
	padding: 6px 10px 6px 10px;
	vertical-align: middle;
	color: #797979;
}
.toplinks a { color: #fff; text-shadow:1px 1px 1px #017fb9; }

.toplinks:hover {
	background-color: #9e0000;
	cursor: pointer;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
}

.toplinks:hover a {
	text-decoration:none;
}


/* === Main Section === */

/* Login  */
.login form {
	width: 250px;
	float: none;
	margin: 0 auto;
	
}




.login form legend {
	
	background-color:#f7bf3d;
	background-image: -webkit-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -moz-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -ms-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -o-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: linear-gradient(to bottom, #f9d071, #f7bf3d);
-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	width:290px;
	margin-top:-20px;
	padding-right:0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-indent:5px;
		border-bottom: 1px solid #b28848;
		text-align:center;
		
	
	}


.login .footer img {margin-top:50px;}
/* Login input */

.login .well .signin {
	text-align: center;
	background: none;
	margin: 0;
	padding: 2px 0px 0px 0px;
}

.login button {
	margin-bottom: 6px;
}

.login .control-group {
	background-image: url("../img/login-border-dotted.png");
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 4px;
}

/* Overview */
.divider-dotted {
	display: block;
	margin: 6px 0px 6px 0px;
	background-image: url("../img/login-border-dotted.png");
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 4px;
}

.well .info {
	display: block;
	font-size: 13px;
	color: #763d00;
	line-height: 16px;
}

.overview .nav li {
	text-indent: 6px;
}

.nav {
	margin-bottom: 10px;
}
.nav-dotted li { border-bottom: 1px dotted #b3a478; padding: 5px 0 10px; }
.nav-dotted li.nodots { border: none; padding: 10px 0 0; }
.nav-orders li { padding: 10px 0; }
.nav-orders > li > a.btn-details:hover { background-color: #F2D389; }
.nav-orders .btn-details { margin: 5px 0 0; }
.nav-collapse, .nav-collapse.collapse { z-index: 2; }

.nav .view {
	padding-top: 6px;
	font-size: 12px;
}

/* Site Pages */
.site-pages {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 110px;
	margin-top: 10px;
}
.site-pages:nth-child(7n+7) { margin-left: 0; }

.site-pages a {
	color: #763d00;
	text-decoration: none;
	display: block;
}

.site-pages span {
	clear: both;
	margin-bottom: 5px;
	display: block;
}
.site-pages .btn-block .btn-block-txt { vertical-align: middle; display: inline-block; font-size: 15pt; }
.site-pages .btn-block { margin: 0; line-height: 51px; text-align: left; padding: 5px; }
.btn-add-page { margin: 12px 0px 25px 0px; }
.icon-site-pages { vertical-align: middle; }
h1 { margin: 10px 0 0; }
p.lead { margin: 0 0 10px; text-indent: 0; }

/* === Footer === */
.footer {
	min-height: 185px;
	margin: 0;
	font-size: 13px;
	font-style: italic;
	color: #797979
}

.footer .links {
	min-height: 145px;
	padding: 10px;
	border-top: 1px solid #aaa;
	background-color: #f0f0f0;
}

.footer-icon {
	float: left;
	width: 129px;
	height: 82px;
	margin: 30px;
	background: url("../img/icon_arrow.png") no-repeat;
}

.footer-links {
	list-style: none;
	margin-top: 20px;
}

.footer-links li {
	float: left;
	display: inline-block;
	width: 145px;
	font-weight: bold;
	color: #763d00;
	font-size: 14px;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 1);
	font-style:normal;
}

.footer-links li ul {
	margin: 8px 4px;
}

.footer-links li ul li {
	display: block;
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 13px;
}

.footer .copy {
	height: 40px;
	background-color: #720000;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-style:normal;
}
.footer .copy a { color: #fff; }

/* === Responsive Elements === */
@media ( max-width : 979px)
{
	.nav-collapse .dropdown-menu .nav-header {
		color: #e2f1fe;
		background-color: #76a2c5;
		float: left;
		margin: 10px;
	}
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: normal;
		color: #8ebbdf;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .dropdown-menu a:hover {
		background-color: #e2f1fe
	}
	.navbar-blue .navbar-inner {
		padding: 0;
		margin: 0;
	}
	.navbar-blue  .navbar-inner {
		background-image: none;
		background-color: #fff2d3;
	}
	.navbar-blue {
		margin-top: -20px;
		margin-bottom: 0;
	}
	.nav-collapse {
		background-color: #fff2d3;
	}
	.navbar-blue {
		background: #000;
		margin-top: -20px;
	}
	.nav-collapse .nav>.divider-vertical {
		display: block;
		height: auto;
		margin-top: -2px;
		border: none;
		border-bottom: 1px solid #e1ca93;
		border-top: 1px solid #e1ca93;
	}
	.navbar .nav-collapse .nav {
		float: none;
		margin: 0;
		height: auto;
	}
}
@media ( min-width : 768px) and (max-width: 979px) {
	.login {
		margin-top: -60px;
		padding-top: 60px;
	}
	.login .top-line { margin-top:0px;}
	.top-menu >.top-line {
		margin-top: -90px;
		min-height: 20px;
		padding: 0 10px 0 10px;
	}
	.left-menu >.top-line,
	.right-menu >.top-line {
		margin-top: -48px;
		min-height: 20px;
		height: 48px;
		margin-bottom: 0;
	}
	.top-line .container {
		height: 0px;
	}
	.footer-icon {
		display: none
	}
	.footer ul.footer-links {
		width: 100%;
	}
	.tab-content {
		float: none;
		margin: 0;
		padding: 0;
	}
	.welcome {
		color:#ffe097;
		display: none;
	}
	.nav-tabs {
		width: 100%;
	}
	.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
		float: left;
		margin-right: 10px;
	}
	.tab-content {
		float: left;
	}
}

@media ( max-width : 767px)
{
	.login {
		margin-top: -60px;
		padding-top: 60px;
	}
	.login .top-line { margin-top:0px;}
	.login .footer img {
		display: none;
	}
	.top-menu >.top-line {
		margin-top: -90px;
		height: auto;
		padding: 0 10px 0 10px;
	}
	.welcome {
		color:#ffe097;
		width: 100%;
		clear: both;
	}
	.top-line .pull-right {
		float: left;
	}
	.welcome {
		color:#ffe097;
		display: none;
	}
	.footer-icon {
		display: none
	}
	.footer .well {
		width: 90%;
	}
	.nav-tabs {
		width: 100%;
	}
	.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li {
		float: left;
		margin-right: 10px;
	}
	.tab-content {
		float: left;
	}
	.notes {
		display: none;
	}
}


/* === Other Elements === */

/* Form Elements */
.form-horizontal legend { margin-top:-18px;}
.well.form legend { margin-top: -18px; }
.input-append .add-on,.input-prepend .add-on {
	text-shadow: 0 1px 0 white;
	background-color: #fbefd2;
	border: 1px solid #e0c47d;
	width: 16px;
	height: 16px;
	padding: 6px;
}

input[type=text],
input[type=password] {
	width: 215px;
	height: 24px;
	padding: 2px;
	border: 1px solid #e0c47d;
	font-size: 13px;
	text-indent: 5px;
}
.login-form .input { width: 85%; }

textarea {
	border: 1px solid #e0c47d;
}

.checkbox input {
	width: 30px;
}

legend {
	display: block;
	width: 100%;
	padding: 0 40px 0 0;
	margin: 0px 0px 20px -20px;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-indent: 10px;
	color: #763d00;
	
	border-bottom: 1px solid #f4e9c9;
}

.well .heading {
	display: block;
	width: 100%;
	padding: 0 40px 0 0;
	margin: 0px 0px 20px -20px;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-indent: 10px;
	color: #763d00;
	border-bottom: 1px solid #f4e9c9;
	margin-top: -18px;
}
.well.compact .tab-content { background: #fff; margin: 0 -19px; padding: 20px; border-bottom: 1px solid #F4E9C9; float: none; width: auto; }
.well.compact .nav-tabs { margin: 0 -19px; padding-left: 10px; border-bottom: 1px solid #F4E9C9; width: auto; }
.well.compact .nav > li > a { color: #763D00; font-size: 14px; font-weight: 600; }
.well.compact .nav > li > a:hover { background-color: #763D00; color: #fff; }
.well.compact .nav-tabs > .active > a, 
.well.compact .nav-tabs > .active > a:hover { border-color: #F4E9C9; border-bottom-color: transparent; color: #763D00; background: #fff; }
.well.compact .nav-tabs > li > a:hover { border-color: #fff; }
.well.compact { padding-bottom: 9px; }
.well.compact h4 { margin-bottom: 0; }
.well .list { list-style: none; margin: 0 -19px; padding: 0; }
.well .list li { display: block; background: #fff; border-bottom: 1px solid #F4E9C9; line-height: 40px; padding: 0 10px; }
.well.compact .list.nav li { line-height: 20px; padding: 10px; }
.well .list li .count { float: right; font-size: 16pt; color: #763D00; }
.well .heading.glyphicons { padding: 0 0 0 35px; }
.well .heading.glyphicons i:before { color: #763D00; top: 8px; font-weight: normal; }

@media (max-width: 767px)
{
	.well input[type=text],
	.well input[type=password] { width: 86%; }
	.form-search input { width: 99%; }
	.form-search input,
	.form-search select { margin: 0 0 10px; }
}

/* Icons */
.icon-brown,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image: url("../img/glyphicons-halflings-brown-buttons.png");
}

.icon-blue-l,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image: url("../img/glyphicons_halflings-blue-light.png");
}

.icon-gray,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image: url("../img/glyphicons_halflings-gray.png");
}

/* Icons Light Cream */
.icon-cream-w,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image: url("../img/glyphicons_halflings-cream-well.png");
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-cream,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image: url("../img/glyphicons-halflings-cream-light.png");
}

.icon-white-t,.nav-tabs>.active>a>[class^="icon-"],.nav-tabs>.active>a>[class*=" icon-"],.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-blue .nav>.active>a>[class^="icon-"],.navbar-blue .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]
	{
	background-image:
		url("../img/glyphicons-halflings-white-transparent.png");
}

.icon-cream.icon-user {
	background-position: 0 0;
}

.icon-cream.icon-password {
	background-position: -21px 0;
}

.icon-forgot {
	width: 21px;
	height: 20px;
	margin-right: 5px;
	background-image: url("../img/icon-question-forgot.png");
	background-position: 0 0px
}



.icon-circles {
	width: 53px;
	height: 17px;
	margin-right: 15px;
	background-image: url("../img/icon_head_login.png");
	background-position: 0 0px
}

.icon-circles-reverse {
	width: 53px;
	height: 17px;
	margin-left: 15px;
	background-image: url("../img/icon_head_login_reverse.png");
	background-position: 0 0px
}


.icon-site-pages {
	width: 40px;
	height: 51px;
	background-image: url("../img/icon_site-pages.png");
	background-position: 0 0px;
	margin: 5px;
}

/* BUTTON*/
.btn {
	color: #763d00;
	font-size: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffe097;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee),
		to(#dcdcdc) );
	background-image: -webkit-linear-gradient(top, #eeeeee, #dcdcdc);
	background-image: -moz-linear-gradient(top, #eeeeee, #dcdcdc);
	background-image: -ms-linear-gradient(top, #eeeeee, #dcdcdc);
	background-image: -o-linear-gradient(top, #eeeeee, #dcdcdc);
	background-image: linear-gradient(top, #eeeeee, #dcdcdc);
	border: 1px solid #aaa;
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
	background: none;
	color: #763d00;
	background-color: #dcdcdc;
}

.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #96ca5a, #85b949);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96ca5a),
		to(#85b949) );
	background-image: -webkit-linear-gradient(top, #96ca5a, #85b949);
	background-image: -o-linear-gradient(top, #96ca5a, #85b949);
	background-image: linear-gradient(to bottom, #96ca5a, #85b949);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96ca5a',
		endColorstr='#ff85b949', GradientType=0 );
	border-color: #7eb440;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #85b949;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	color: #ffffff;
	background-color: #85b949;
	*background-color: #85b949;
}

.btn-success:active,.btn-success.active {
	background-color: #85b949 \9;
}

.btn-primary {
	color: #ffffff;
	font-size: 13px;
	text-shadow: 0 1px 0 rgba(29, 81, 122, 1);
	background-color: #79bdf3;
	background-image: -moz-linear-gradient(top, #79bdf3, #68abe2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79bdf3),
		to(#68abe2) );
	background-image: -webkit-linear-gradient(top, #79bdf3, #68abe2);
	background-image: -o-linear-gradient(top, #79bdf3, #68abe2);
	background-image: linear-gradient(to bottom, #79bdf3, #68abe2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff79bdf3',
		endColorstr='#ff51a351', GradientType=0 );
	border-color: #589bd2;
	*background-color: #68abe2;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #ffffff;
	background-color: #79bdf3;
	*background-color: #79bdf3;
}

.btn-primary:active,.btn-primary.active {
	background-color: #79bdf3 \9;
}

.btn-danger {
	color: #ffffff;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #d96359;
	background-image: -moz-linear-gradient(top, #d96359, #c85248);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d96359),
		to(#c85248) );
	background-image: -webkit-linear-gradient(top, #d96359, #c85248);
	background-image: -o-linear-gradient(top, #d96359, #c85248);
	background-image: linear-gradient(to bottom, #d96359, #c85248);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd96359',
		endColorstr='#ffc85248', GradientType=0 );
	border-color: #c85248;
	*background-color: #c85248;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]
	{
	color: #ffffff;
	background-color: #d96359;
	*background-color: #d96359;
}

.btn-danger:active,.btn-danger.active {
	background-color: #d96359 \9;
}

/*  BREADCRUMB */
.breadcrumb {
	margin-top: 28px;
	margin-bottom:2px;
	
	font-size: 13px;
	height: 10px;
	padding: 4px 10px 14px 10px;
}

.breadcrumb > li > .divider { padding: 0; }
.breadcrumb .divider {
	display: inline-block;
	background-image: url("../img/icon_breadcrumb-divider.png");
	vertical-align: middle;
	width: 17px;
	height: 10px;
	padding: 0px;
	margin: 0 4px 0 4px;
}

.google-visualization-table-div-page {
  margin: 10px 0 0 0 !important;
}
.google-visualization-table-div-page .a-d-e-h-g {
  padding: 0;
  border: none;
  margin: 0;
}
.google-visualization-table-div-page .a-d-e-f-g,
.google-visualization-table-div-page .a-d-e-h-g {
  border-style: none;
}
.google-visualization-table-div-page .a-d-e-o-q .a-d-e-h-g {
  border: none;
}
.google-visualization-table-div-page .a-d-e {
  background: none;
  margin-left: 5px;
}
.google-visualization-table-div-page .a-d-e.a-d-e-o-p {
  margin-left: 0;
}
.google-visualization-table-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #F4E9C9;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 10pt;
  background: none !important;
}
.google-visualization-table-table td,
.google-visualization-table-table .tableHeaderRow td {
  padding: 4px 10px;
  border: none;
  border-left: 1px solid #F4E9C9;
  border-top: 1px solid #F4E9C9;
  line-height: 20px;
}
.google-visualization-table-table .tableHeaderRow td {
  font-weight: 400;
  vertical-align: bottom;
  color: #763D00;
  text-align: center;
}
.google-visualization-table-table tbody tr:nth-child(odd) td,
.google-visualization-table-table tbody tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.5);
  background-color: #FFFCF4;
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child > td:first-child,
.google-visualization-table-table tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child > td:last-child,
.google-visualization-table-table tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.google-visualization-table-table tbody:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.google-visualization-table-table tbody:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.google-visualization-table-table .tableHeaderRow:first-child tr:first-child td,
.google-visualization-table-table tbody:first-child tr:first-child td {
  border-top: 0;
}

/* Dropdown */
.open .arrow {
	display: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99999;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 0 0 0 -2px;
	list-style: none;
	background-color: white;
	border: 1px solid #a1cbf2;
	border-top: 2px solid #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 0px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	/* Links within the dropdown menu*/
}

.dropdown-menu a {
	color: #317fbd;
}

.dropdown-menu .divider {
	background-color: #d6edff;
}

.dropdown-menu .nav-header {
	color: #a1cbf2;
}

.navbar .nav>li>.dropdown-menu::before,.navbar .nav>li>.dropdown-menu::after
	{
	display: none;
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a
	{
	background: #d6edff;
	color: #317fbd;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

/* LABELS */
.well .label {
	background-color: #bda770;
	
	font-size: 12px;
	font-weight: normal
}

.well .label-success {
	background-color: #5c9f3e;
}

.well .label-inverse {
	background-color: #434343;
}

.well .label-important {
	background-color: #b23939;
}

/* Tables */
.table {
	border-color: #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>;
}

.table thead tr {
	color: #763d00;
	background-color: #ffe097;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe097),
		to(#f2d389) );
	background-image: -webkit-linear-gradient(top, #ffe097, #f2d389);
	background-image: -moz-linear-gradient(top, #ffe097, #f2d389);
	background-image: -ms-linear-gradient(top, #ffe097, #f2d389);
	background-image: -o-linear-gradient(top, #ffe097, #f2d389);
	background-image: linear-gradient(top, #ffe097, #f2d389);
}

.table thead tr th {
	font-size: 14px;
	font-weight: 600;
	border-right: 1px solid #f8e4b4;
	padding-top: 5px;
}

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th
	{
	background-color: #fffcf4;
}

.table-bordered th,.table-bordered td {
	border-left: 1px solid #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>;
	/* border:1px solid #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>; */
}

.table th,.table td {
	font-size: 14px;
	border-top: 1px solid #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>;
	vertical-align: middle;
}
.table th.center,.table td.center { text-align: center; }

.table tbody tr td small,
.table tbody tr td small a {
	color: #cdbc89
}
.table tbody tr td small a { text-decoration: underline; }

.thumbnail.product { width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin: 0 8px 0 0; border-color: #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>; background: #fff; }

/* Modals */
.modal {
	background-color: #f0f0f0;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .3);
	*border: 1px solid #999; /* IE6-7 */
	.
	border-radius
	(6px);
	.
	box-shadow
	(0
	3px
	7px
	rgba(0,0,0,0.3));
}

.modal-header {
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe097),
		to(#f2d389) );
	background-image: -webkit-linear-gradient(top, #ffe097, #f2d389);
	background-image: -moz-linear-gradient(top, #ffe097, #f2d389);
	background-image: -ms-linear-gradient(top, #ffe097, #f2d389);
	background-image: -o-linear-gradient(top, #ffe097, #f2d389);
	background-image: linear-gradient(top, #ffe097, #f2d389);
	border-bottom: 1px solid #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>;
	height: 25px;
	color: #763d00;
	font-weight: 600;
	line-height: 25px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.modal-header .close {
	font-size: 16px;
}

.modal-body {
	padding: 0px 0px 0px 20px;
	margin: 0px;
}

.modal-footer {
	border: none;
	background: none;
	box-shadow: none;
	margin: 0;
	padding: 10;
}

/* Tabs & Pills */
.tabs-left >.nav-tabs {
	border: 1px solid #d2bc87;
	background: #fffcf4;
	padding: 2px 0px 2px 2px;
}

.tabs-left > .nav-tabs a:hover {
	background: none;
	color: #763d00;
	padding-top: 9px;
	padding-bottom: 12px;
	line-height: 20px;
	border: none;
	margin-right: 1px;
	margin-bottom: 0;
}

.tabs-left > .nav-tabs .active {
	border: none;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
	width: auto;
	height: 23px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	font-weight: 600;
	padding-top: 9px;
	padding-bottom: 7px;
	margin: 0 2px 0 0;
	color: #763d00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffdf92;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdf92), to(#f4d585) );
	background-image: -webkit-linear-gradient(top, #ffdf92, #f4d585);
	background-image: -moz-linear-gradient(top, #ffdf92, #f4d585);
	background-image: -ms-linear-gradient(top, #ffdf92, #f4d585);
	background-image: -o-linear-gradient(top, #ffdf92, #f4d585);
	background-image: linear-gradient(top, #ffdf92, #f4d585);
	border: 1px solid #<script src="theme/scripts/jquery-1.8.0.min.js" type="text/javascript"></script>;
}

/*******************************************************/

/* CSS 3D BUTTON */
.push_button {
	display: inline-block;
	padding: 2px 14px;
	position: relative;
	height: 24px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	line-height: 24px;
	display: block;
	margin: 30px;
}

.push_button:before {
	background: #f0f0f0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0),
		to(#f0f0f0) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	position: absolute;
	content: "";
	z-index: -1;
}

.push_button:active {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0
		rgba(255, 255, 255, .1) inset;
	top: 5px;
}

.push_button:active:before {
	top: -11px;
	bottom: -5px;
	content: "";
}

.top-line .icon-brown {
	margin: 2px 3px 0px -2px;
}

/* ORANGE on DARK GRAY */
.orange-on-dark {
	display: inline-block;
	margin: -3px 3px 0 3px;
	vertical-align: middle;
	text-shadow: 0px 1px 0 #fce7be;
	font-weight: bold;
	color: #763d00;
	background: #f7bf3d;
	text-transform: uppercase;
	border: 1px solid #fad888;
 	background-image: -webkit-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -moz-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -ms-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: -o-linear-gradient(top, #f9d071, #f7bf3d);
	background-image: linear-gradient(to bottom, #f9d071, #f7bf3d);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0
		rgba(255, 255, 255, .1) inset, 0 4px 0 #c3921f, 0 4px 2px
		rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0
		rgba(255, 255, 255, .1) inset, 0 4px 0 #c3921f, 0 4px 2px
		rgba(0, 0, 0, .5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0
		rgba(255, 255, 255, .1) inset, 0 4px 0 #c3921f, 0 4px 2px
		rgba(0, 0, 0, .5);
}

.orange-on-dark:hover {
	background: #f8cb60;
	text-decoration: none;
	color: #763d00;
}


@media (max-width: 240px)
{
	.site-pages .btn-block .btn-block-txt { font-size: 10pt; line-height: 55px; }
}
.visible-phone-table,
.visible-phone-320-table,
.visible-phone-320-block,
.visible-phone-480-table { display: none; }
.hidden-phone-table,
.hidden-phone-320-table,
.hidden-phone-480-table { display: table; }
.hidden-phone-320-block { display: block; }
.tab-content { padding: 0; }

/* Gallery */
.tabs-arrow { list-style: none; margin: 0 0 20px; padding: 0; border-top: 1px solid #f2ecda; }
.tabs-arrow li { height: 39px; display: block; border-bottom: 1px solid #f2ecda; position: relative; z-index: 1; }
.tabs-arrow li a { display: block; position: relative; height: 38px; color: #cfb670; line-height: 38px; padding: 0 0 0 49px; text-decoration: none; border: 1px solid #f2ecda; border-bottom: none; border-top: none; }
.tabs-arrow .active { background: #d3bd84; margin-right: -20px; }
.tabs-arrow .active a {
	border: 1px solid #d3bd84;
	color: #763D00;
	background-color: #FFE097;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE097), to(#F2D389) );
	background-image: -webkit-linear-gradient(top, #FFE097, #F2D389);
	background-image: -moz-linear-gradient(top, #FFE097, #F2D389);
	background-image: -ms-linear-gradient(top, #FFE097, #F2D389);
	background-image: -o-linear-gradient(top, #FFE097, #F2D389);
	background-image: linear-gradient(top, #FFE097, #F2D389);
	z-index: 2;
	font-weight: 600;
	height: 39px;
	top: -1px;
}
.tabs-arrow .active a:after {
	position: absolute;
	width: 0;
	height: 0;
	z-index: 3;
	border-width: 21px;
	border-color: #fff #fff #fff transparent;
	border-style: solid;
	border-right-width: 0;
	display: block;
	content: "";
	right: -1px;
	top: -1px;
	z-index: 2;
}
.tabs-arrow .active a:before {
	display: block;
	content: "";
	border-width: 20px;
	border-color: #d3bd84 #d3bd84 #d3bd84 transparent;
	border-style: solid;
	border-right-width: 0;
	right: 0px;
	top: 0;
	position: absolute;
	z-index: 1;
}
.tabs-arrow li a i:before {
	width: 22px;
	height: 17px;
	background: #fbf1d6;
	border: 1px solid #dccb9a;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 0 1px #fff;
	-o-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	color: #d8c58e;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	padding: 5px 0 0;
	top: 7px;
	left: 7px;
}
.tabs-arrow .active a i:before {
	background: #974820;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-ms-box-shadow: inset 1px 1px 3px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-o-box-shadow: inset 1px 1px 3px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	border: 0;
	left: 8px;
	top: 8px;
}
.albums .btn { margin: 0 0 10px; }
.gallery .media { margin-top: 0; overflow: visible; margin-bottom: 20px; }
.gallery .media ul { margin: 0; padding: 0; list-style: none; overflow: visible; }
.gallery .media ul li { margin-bottom: 15px; }
.gallery .media ul li:nth-child(6n+7) { margin-left: 0; }
.gallery .media ul li .thumb {
	border: 1px solid #d3bd84;
	color: #763D00;
	background-color: #FFE097;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE097), to(#F2D389) );
	background-image: -webkit-linear-gradient(top, #FFE097, #F2D389);
	background-image: -moz-linear-gradient(top, #FFE097, #F2D389);
	background-image: -ms-linear-gradient(top, #FFE097, #F2D389);
	background-image: -o-linear-gradient(top, #FFE097, #F2D389);
	background-image: linear-gradient(top, #FFE097, #F2D389);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.8);
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.8);
	-ms-box-shadow: inset 0 0 0 1px rgba(255,255,255,.8);
	-o-box-shadow: inset 0 0 0 1px rgba(255,255,255,.8);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.8);
	padding: 6px;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: block;
}
.albums .circle_remove,
.gallery .media .circle_remove { 
	position: absolute; top: -10px; right: -10px; z-index: 3; padding: 0; background: #ffe199; width: 18px; height: 18px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.albums .circle_remove { 
	right: 25px; top: 10px; cursor: pointer; display: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
.albums .active .circle_remove { display: block; }
.albums .active .tooltip { opacity: 1; filter: alpha(opacity=100); }
.albums .active .tooltip-inner { 
	background: #974820;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-ms-box-shadow: inset 1px 1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	-o-box-shadow: inset 1px 1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.5);
}
.albums .active .tooltip-arrow { border-left-color: #974820; }
.albums .circle_remove i:before,
.gallery .media .circle_remove i:before { top: 0; left: 0; font-size: 18px; color: #763d00; }
.albums .circle_remove i:before { color: #974820; }
.gallery .media span { display: inline-block; }
.gallery .media .hide { display: none; }
.gallery .media .name { padding: 9px 0 4px; }
.gallery .media .image { border: 1px solid rgba(255,255,255,.5); max-width: 110px; max-height: 112px; position: relative; overflow: hidden; }
.gallery .media .image .hover { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(118,61,0,.7); display: none; vertical-align: middle; text-align: center; }
.gallery .media .image .hover span { padding: 0; color: #caac7d; font-size: 12px; text-shadow: none; vertical-align: middle; display: table-cell; }
.gallery .media .image .hover span i:before { color: #caac7d; position: relative; top: -2px; left: auto; font-size: 14px; vertical-align: middle; margin-right: 4px; }
.gallery .media .image .hover.active,
.gallery .media li:hover .image .hover { display: block; }

.separator { padding: 10px 0; }
.separator.bottom { padding: 0 0 10px; }
.ajax-loader { padding: 20px 0; text-align: center; }
.media .ajax-loader { padding: 20px 0 40px; }
.ajax-rd { padding: 20px 0 0; font-size: 13px; }
.modal-body { padding: 20px 20px 0; }
#modalItem .image img { max-height: 400px; max-width: none; }
#modalItem .modal-body { overflow: hidden; }
.bootbox .modal-body { padding: 20px; }
.bootbox .modal-footer { background: #FBF1D6; }

.navbar .btn, .navbar .btn-group { margin-top: 2px; }
.navbar .btn-navbar { margin-top: 6px; }

/* Documentation */
pre.prettyprint {
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #FFFFFF), color-stop(50%, #EFEFEF));
  background-image: -webkit-linear-gradient(#FFFFFF 50%, #EFEFEF 50%);
  background-image: -moz-linear-gradient(#FFFFFF 50%, #EFEFEF 50%);
  background-image: -o-linear-gradient(#FFFFFF 50%, #EFEFEF 50%);
  background-image: linear-gradient(#FFFFFF 50%, #EFEFEF 50%);
  -moz-background-size: 38px 38px;
  background-size: 38px 38px;
  border: 1px solid #EFEFEF;
  display: block;
  line-height: 19px;
  margin-bottom: 10px;
  overflow: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
}
pre.prettyprint .glyphicons {
  padding: 0 0 0 20px;
}
pre.prettyprint .glyphicons i:before {
  font-size: 17px;
  top: 1px;
}
.documentation ul li a {
  
}
.documentation .glyphicons.orange i:before { color: #EDB459; }
.documentation .tab-content { padding: 10px 0 0; }
.documentation .table { margin: 0 0 10px; }
.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4 { margin: 10px 0; }
.documentation .separator { margin: 10px 0; }
.documentation .separator.bottom { margin: 0 0 10px; }
.documentation p { margin: 0 0 20px; }
.documentation ul ul {
  margin-bottom: 10px;
}
.documentation .span3 .menu.affix {
  top: 110px;
  width: 220px;
}
.documentation ul.icons li { display: block; }
.documentation #docs_icons {
  padding: 20px 0;
}
.documentation #docs_icons .glyphicons {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 120px;
  font-size: 12px;
  line-height: 48px;
  overflow: hidden;
}
.documentation #docs_icons .glyphicons i:before {
  line-height: 55px !important;
}
.documentation .show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.documentation .show-grid [class*="span"] {
  background-color: #EFEFEF;
  text-align: center;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  min-height: 40px;
  line-height: 40px;
}
.documentation .show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.documentation .show-grid .show-grid [class*="span"] {
  background-color: #CACACA;
}

.top-menu { padding-top: 90px; }
.left-menu, .right-menu { padding-top: 48px; }
.left-menu .mainContainerFluid, .right-menu .mainContainerFluid {
	padding: 0;
}
.left-menu.login .mainContainerFluid,
.right-menu.login .mainContainerFluid {
	padding: 42px 0 0;
}
.left-menu .mainContainerFluid .inner, .right-menu .mainContainerFluid .inner {
	padding-right: 20px;
	padding-bottom: 20px;
}

body.sticky_footer { padding-bottom: 35px; }
.mainMenuWrapper { overflow: hidden;}
.mainMenu {
	background-color: #ffecb4;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	position: relative;
	box-shadow: -5px 5px 10px #ebd49d inset;
	-moz-box-shadow: -5px 5px 10px #ebd49d inset;
  	-webkit-box-shadow: -5px 5px 10px #ebd49d inset;
}
.mainContent {
	left: 14.52991452991453%;
	position: relative;
}
.mainMenu > ul {
	border-color: #ebcf7b;
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	list-style: none;
}
.left-menu .mainMenu > ul {
	border-left-width: 0;
	border-bottom-width: 0; 
	border-top-width: 0;
}
.right-menu .mainMenu > ul {
	border-right-width: none;
	border-bottom-width: none; 
	border-top-width: none;
}
.mainMenu > ul > li {
	height: 40px;
	line-height: 40px;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddcca5;
}
.mainMenu > ul > li > a {
	color: #900000;
	text-shadow: 0 1px 0 #fff;
	font-weight: normal;
	font-family: "Titillium";
	text-indent: 20px;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	height: 39px;
	line-height: 39px;
}
.mainMenu > ul > li > a:hover { text-decoration: none; }
.mainMenu > ul > li.active > a {
	color: #fff;
	background-color: #900000;
	font-weight: normal;
	font-family: "Titillium";
	font-size:15px;
	text-indent: 20px;
}
.mainMenu .dropdown .caret {
	position: absolute;
	top: 18px;
	right: 10px;
	margin: 0;
	border-top-color: #000;
}
.mainMenu .dropdown.active a > .caret { border-top-color: #fff; }
.mainMenu .collapse {
	position: relative;
	left: auto;
	top: auto;
	float: none;
	border: none;
	z-index: auto;
	box-shadow: -5px 5px 10px #ebd49d;
	-moz-box-shadow: -5px 5px 10px #ebd49d;
  	-webkit-box-shadow: -5px 5px 10px #ebd49d;
  	margin: 0;
  	padding: 0;
  	min-width: auto;
  	background-color: #fff;
}
.mainMenu .collapse li a {
	display: block;
	padding: 3px 20px;
	text-decoration: none;
}
.mainMenu .collapse .divider {
	margin: 0;
	background-color: #d6edff;
	height: 1px;
	overflow: hidden;
}
.mainMenu .collapse li a:before {
	content: "\e212";
	font-family: "Glyphicons";
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px 0 0;
	position: relative;
	top: -1px;
}
.mainMenu .collapse li > a, 
.mainMenu .collapse li > a:hover {
	background: #fff;
	color: #900000;
	font-weight: normal;
	font-size: 13px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
}
.mainMenu .collapse .active > a, 
.mainMenu .collapse .active > a:hover {
	background: #fff;
	color: #3e3e3e;
	text-shadow: none;
	font-weight: normal;
}
.mainMenu .dropdown.open,
.mainMenu .dropdown.open a { height: auto; }
.right-menu .mainMenu { 
	float: right;
	box-shadow: 5px 5px 10px #ebd49d inset;
	-moz-box-shadow: 5px 5px 10px #ebd49d inset;
  	-webkit-box-shadow: 5px 5px 10px #ebd49d inset;
}
.right-menu .mainMenu .collapse {
	box-shadow: 5px 5px 10px #ebd49d;
	-moz-box-shadow: 5px 5px 10px #ebd49d;
  	-webkit-box-shadow: 5px 5px 10px #ebd49d;
}
.right-menu .mainContent { left: 0; margin-left: 0; }
.right-menu .mainContent .inner { padding-right: 0; padding-left: 20px; }
#sticky_footer {
	height: 35px;
	line-height: 35px;
	background-color: #111;
	font-size: 13px;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20000;
}
#sticky_footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 0px solid #30beff;
	display: inline-block;
}
#sticky_footer ul li {
	float: left;
	display: block;
	border-right: 1px solid #666;
	line-height: 35px;
	height: 35px;
}
#sticky_footer ul li span:first-child, 
#sticky_footer ul li a {
	display: block;
	width: auto;
	cursor: pointer;
	padding: 0 10px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#sticky_footer ul li.active span:first-child, 
#sticky_footer ul li:hover span:first-child, 
#sticky_footer ul li.active a, 
#sticky_footer ul li:hover a {
	color: #e6e6e6;
}
#sticky_footer ul li span:first-child i:before, 
#sticky_footer ul li a i:before {
	line-height: 35px;
	position: relative;
	color: #fff;
	left: auto;
	top: 0;
	font-size: 20px;
	vertical-align: middle;
	font-weight: normal;
}
#sticky_footer ul li.active span:first-child i:before, 
#sticky_footer ul li:hover span:first-child i:before, 
#sticky_footer ul li.active a i:before, 
#sticky_footer ul li:hover a i:before {
	color: #e6e6e6;
}
#sticky_footer ul li span:first-child.text span, 
#sticky_footer ul li a.text span {
	margin-left: 5px;
}
@media (max-width: 979px)
{
	.tab-content {
		float: left;
		width: 100%;
		padding: 0;
	}
	.navbar .nav-collapse .nav { height: auto; }
	.navbar .nav-collapse .nav li { height: auto; }
	.navbar .nav-collapse .nav li.dropdown.dropdown-hover:hover ul.dropdown-menu { display: block; }
	.navbar .nav-collapse .nav li.dropdown.dropdown-hover.open:hover ul.dropdown-menu { display: block; }
	.navbar .nav-collapse .nav li.dropdown.dropdown-hover ul.dropdown-menu { display: block; }
}
@media (min-width: 1200px)
{
	.documentation .span3 .menu.affix { width: 270px; }
}
@media (max-width: 979px) and (min-width: 767px)
{
	.gallery .media ul li .thumb { padding: 3px; }
	.gallery .media ul li .thumb .name { font-size: 9pt; line-height: normal; display: none; }
	.documentation .span3 .menu.affix { width: 166px; top: 20px; }
	.mainMenu .collapse li > a,
	.mainMenu .collapse li > a:hover { padding: 3px 10px; font-size: 12px; }
	.mainMenu > ul > li > a,
	.mainMenu > ul > li > a:hover,
	.mainMenu > ul > li.active > a,
	.mainMenu > ul > li.active > a:hover { text-indent: 10px; font-size: 13px; }
}
@media (max-width: 767px)
{
	.btn-phone-block { display: block; margin: 0 0 5px; padding-left: 0; padding-right: 0; width: 100%; }
	.btn-phone-block:last-child { margin-bottom: 0; }
	.navbar .btn-navbar {
		display: block;
	}
	body { padding: 0; }
	.site-pages { height: auto; margin: 0 0 15px; }
	.top-line .pull-right {
		width: 100%;
		border-top: 1px solid #656565;
	}
	.top-line .pull-left { width: 100%; border-bottom: 1px solid #1F1F1F; }
	.visible-phone-table { display: table; }
	.hidden-phone-table { display: none; }
	.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li 
	{
		display: block;
		float: none;
		width: auto;
		margin: 0 2px 0 0;
	}
	.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover
	{
		width: auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin: 0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: 0; margin-right: 0; }
	.contentWrapper .row { padding: 0 10px; }
	.gallery .media ul li { margin-bottom: 0; }
	.gallery .media ul li .thumb { text-align: left; }
	.gallery .media ul li .thumb .image { text-align: center; float: left; }
	.gallery .media ul li .thumb .name { padding: 10px 20px; display: block; float: left; }
	.gallery .media ul li .thumb:after { clear: both; display: block; content: ""; }
	.tabs-arrow .active a:after { display: none; }
	.tabs-arrow .active a:before { display: none; }
	.tabs-arrow .active { margin: 0; }
	.gallery .media .circle_remove { top: 5px; right: 5px; }
	.albums .circle_remove { right: 10px; }
	#modalItem .image img { max-width: 100%; max-height: 300px; }
	.gallery .media .image .hover.active,
	.gallery .media li:hover .image .hover { display: none; }
	.documentation .span3 .menu.affix { width: auto; position: static; top: 0; }
	.mainContent { left: 0; }
	.mainMenu { margin-bottom: 0; padding-bottom: 0; }
	.left-menu .mainMenu > ul,
	.right-menu .mainMenu > ul { position: relative; border-left-width: 1px; }
	.left-menu .mainContainerFluid .inner, .right-menu .mainContainerFluid .inner { padding: 0 10px; }
	.left-menu > .top-line,
	.right-menu > .top-line { margin-top: -48px; height: auto; margin-bottom: 0; }
	.top-line .brand { padding: 0 10px; }
}
@media (max-width: 480px)
{
	.visible-phone-480-table { display: table; }
	.hidden-phone-480-table { display: none; }
}
@media (max-width: 320px)
{
	.visible-phone-320-table { display: table; }
	.visible-phone-320-block { display: block; }
	.hidden-phone-320-table,
	.hidden-phone-320-block { display: none; }
	.visible-phone-480-table { display: none; }
}

ul.nav li.dropdown.dropdown-hover:hover ul.dropdown-menu { display: block; }
.navbar .nav { height: 40px; position: relative; overflow: visible; }
.navbar .nav > li { height: 41px; position: relative; overflow: visible; }
.navbar .nav > li > a { 
	padding: 0 20px;
	height: 41px;
	line-height: 41px;
	margin: 0;
}

/* Responsive Tables */
@media only screen and (max-width: 800px) {
  .table-responsive.swipe-horizontal {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%;
  }
  .table-responsive.swipe-horizontal th,
  .table-responsive.swipe-horizontal td {
    display: block;
    margin: 0;
    vertical-align: top;
  }
  .table-responsive.swipe-horizontal th {
    text-align: right;
    border-bottom: 0;
    border-left: 0;
  }
  .table-responsive.swipe-horizontal td {
    min-height: 1.25em;
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
  }
  .table-responsive.swipe-horizontal thead {
    display: block;
    float: left;
  }
  .table-responsive.swipe-horizontal thead tr {
    display: block;
  }
  .table-responsive.swipe-horizontal tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
  }
  .table-responsive.swipe-horizontal tbody tr {
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #E0D5C6;
  }
  .table-responsive.block {
    	/* Force table to not be like tables anymore */
    	/* Hide table headers (but not display: none;, for accessibility) */
    	/* Label the data */
  }
  .table-responsive.block table,
  .table-responsive.block thead,
  .table-responsive.block tbody,
  .table-responsive.block th,
  .table-responsive.block td,
  .table-responsive.block tr {
    display: block;
  }
  .table-responsive.block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.block tr {
    border: 1px solid #E0D5C6;
  }
  .table-responsive.block td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #E0D5C6;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .table-responsive.block td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    vertical-align: middle;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }
  .table-responsive.block td:before {
    content: attr(data-title);
  }
}