body
{
background-color:#ffffff;
}
.wcpbg
{
background-image:url(images/Top_Gradient.gif);
background-repeat:repeat-x;
border:1px solid #dcdcdc;
height:94px;
}
.wcp
{
	

}
.SiteName
{
	font-family:Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	height:40px;
	padding-top:10px;
	text-shadow:Maroon;
}
select
	{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size:7pt;
	font-weight:bold;
	font-family:verdana,arial, times new roman;
	}
.Button 
	{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background:#d4d0c8;
	font-family:verdana,arial, times new roman;
	color:#000;
	padding:2px;
	font-weight:bold;
	text-decoration:none;
	}

.Button:hover 
	{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background:#d4d0c8;
	font-family:verdana,arial, times new roman;
	color:#000;
	padding:2px;
	font-weight:bold;
	text-decoration:none;
	}
div.menu
{
line-height:2px;
}

input.nor
	{
	border:none;
	text-align:right;
	font-size:8pt;
	font-weight:normal;
	font-family:verdana,arial, times new roman;
	}

input.text
	{
	font-family:verdana,arial, times new roman;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size:10px;
	font-weight:normal;
	}
h2.title_h2
{
	font-family:verdana,arial, times new roman;
	font-size:14px;
	font-weight:bold;
}
h4
{
	font-family:verdana,arial, times new roman;
	font-size:14px;
	padding-top:10px;
	color : #000000;
	font-weight:bold;
}
input.submit
	{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	}

input
	{
	font-family:verdana,arial, times new roman;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size:10px;
	font-weight:normal;
	}
	
.InOut
	{
	font-family:verdana,arial, times new roman;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size:10px;
	font-weight:normal;
	vertical-align:middle;
	}

	
input.chk
	{
	border:none;
	}

input.rad
	{
	border:none;
	}
	
input.AlignCenter
	{
	text-align: center;
	}
form
	{
	display:inline;
	}

td
	{
	font-size: 11px;
	font-family :  verdana, tahoma, Arial, Helvetica,sans-serif;
	font-weight : normal;
	line-height:13px;
	color : #000000;
	}

a
	{
	color : #0000fF;
	font-weight:normal;
	font-family :  tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :11px;
	text-decoration : none; 
	font-weight : normal;
	}

a:hover
	{
	color : #ff0000;
	text-decoration : underline; 
	}

a.bn
	{
	color : #9BCEF9;
	font-weight:normal;
	font-family :  Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : underline; 
	font-weight : normal;
	}

a.bn:hover
	{
	color : #ffffff;
	font-family :  Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : none; 
	font-weight : normal;
}

a.nav
	{
	color : #FFFFFF;
	font-weight:normal;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : none; 
	font-weight : bold;
	}

a.nav:hover
	{
	color : #E3EB09;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : none; 
	font-weight : bold;
}

a.cat
	{
	color : #000000;
	font-weight:normal;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : none; 
	font-weight : normal;
	padding-left : 4px;
	}

a.cat:hover
	{
	color : #930000;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :10px;
	text-decoration : none; 
	font-weight : normal;
	padding-left : 4px;
}



.border1 {
	border: 1px solid #CCCCCC;
}

a.adm-link
	{
	color : #0000fF;
	font-weight:normal;
	font-family :  tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :11px;
	text-decoration : none; 
	font-weight : bold;
	}

a.adm-link:hover
	{
	color : #ff0000;
	font-family :  tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :11px;
	text-decoration : underline; 
	font-weight : bold;
	}

a.page
	{
	color : #FF0000;
	font-weight:normal;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :11px;
	text-decoration : none; 
	font-weight : bold;
	}

a.page:hover
	{
	color : #0000FF;
	font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size :11px;
	text-decoration : underline; 
	font-weight : bold;
}

span.rr
{
	
}
select.ddlCountry
{
width :140px;
}
a.box
{
	font-size: normal;
	background:#e9e9e9;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
	text-transform:uppercase;
	cursor:hand;
	border:solid 1px #dcdcdc;
	
}

th {
			font-size: 13px;
			font-family:verdana;
			text-align: left;
			border:solid 1px #999999;
			background-color: #f1f1f1;
		}
		
.DivFloat
{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #dcdcdc;
}

h4
{
font-family : Verdana, tahoma, Geneva, Arial, Helvetica, sans-serif;
color:#1A559C;
size:11px;
text-transform:uppercase;
}
/* cart start*/
.InsideTable
{
BORDER: #C7DCF7 1px solid;
}
.InsideLeftTd
{
background-color: #E8F2FF;
}
.InsideRightTd
{
background-color: #F5F9FF;
}

.TableFormat{border:solid 1px #C7DCF7;}
.TableFormat td{background: #F5F9FF;height: 25px;vertical-align: middle;}
.TableFormat td.CartCalTd{background:#E8F2FF;}
.TableFormat th{background: #E8F2FF;height: 25px;vertical-align: middle;border:none;}

.HelpLink a{
	display:inline-block;font-size:12px;font-weight:bold;background:#ccc;margin:10px;padding:10px;
}
.HelpLink a:hover{
	background:#000;
}

/* cart end */

