

/* additiona css start*/



.box_category

{

	float:left;

	margin:0px 10px 10px 0px;

	

}

.Category .LastItem{margin-right:0px;}



.box_category_head,

.box_category_head a

{

	font:normal 16px HelveticaNeue;

	color:#01BC01;

	text-transform:uppercase;

	padding-bottom:5px;

}



.box_category_head a:hover

{

color:#1847D5;

}



.ProductList{margin:0px 0px 0px 0px;padding:0px;width:100%;}

.ProductList ul{margin:0px;padding:0px;width:100%;list-style:none;}

.ProductList ul li{



}



.PdfGuides{margin:20px 0px 0px 0px;padding:0px;width:100%;}

.PdfGuides .PdfGuideTitle{

	font:bold 17px/22px Arial;

	margin:5px 0px;

}



.PdfGuides a{

	background:url(images/icon-pdf.png) no-repeat;
	display:block;
	padding:0px 5px 0px 20px;
	text-decoration:none;
	text-transform:uppercase;
	color:#63523B;
	font:normal 11px/22px Arial;

}



.PdfGuides ul{margin:0px;padding:0px;width:100%;list-style:none;}

.PdfGuides ul li{

margin:0px;padding:0px;width:100%;list-style:none;

}





.SKShare{margin:10px 0px 0px 0px;padding:0px;width:100%;}



.SKShare .SKShareTitle{

	font:bold 17px/22px Arial;

	margin:5px 0px;

}



.ProductList .imgDiv{height:150px;}



.ProductList .price{font-weight:bold;}

.ProductList .norm_price,

.ProPrice .norm_price,

{

	

}



.ProductList .sale_price,

.ProPrice .sale_price,

.ProductDisplay .sale_price

{

	font-weight:bold;

	color:#880000;

}



.save_price{

padding-top:3px;

color:#2C7EB9;

font-size:10px;

}



.paging{color:#666666;

font-size:11px;font-weight:bold; 

font-weight:bold; border-bottom:1px dotted #999999; 

border-top:1px dotted #999999; padding:6px 10px 5px 0px; clear:both; text-align:left; margin:10px 0px 15px 0px;

}  

.pageno{float:right;}

.paging a,.pageno a{border:1px solid #dcdcdc; padding:0px 3px 0px 3px;font-weight:bold;color:#666666;text-decoration:none;font-weight:bold;}

.paging a:hover,.pageno a:hover

{border:1px solid #0c94d1; background-color:#1847D5; 

padding:0px 3px 0px 3px;font-weight:bold;

color:#fff;text-decoration:none;font-weight:bold;}

.PrdOuter{width:280px;position:relative;}

.PrdOuter ul{list-style:none; padding:0px; margin:0px;}

.PrdOuter ul li{
list-style:none; 
padding:5px; 
margin:0px;
float:left;
width:83px;
height:83px;
}



.ddlCountry{width:150px;}
.commentbox{width:700px;}



 

.NewsHeadlines

		{

			width:100%;

			text-align:left;

		}

.news_latest{

	width:100%;

	text-align:left;

}



.news_grid a,.news_latest a{

	font-weight:bold;

	color:#01C001;

}



	.NewsHeadlines h2{

	font-size:18px;

	text-align:left;

	line-height:35px;

	color:#01C001;

	padding-left:10px;

	width:210px;

	height:35px;

	background:url(images/nav_head.png);

	border-bottom:solid 1px #01C001;

	margin:10px 0px 0px 0px;

	}		

		.MonthLinks

		{

			background:#b3b3b3;

			font-size:11px;

			line-height:13px;

			padding:5px 10px 5px 10px;

			margin:1px 0px 1px 0px;

		}

		

		.MonthLinks a

		{

			display:inline-block;

			font-size:11px;

			line-height:13px;

			text-decoration:none;

			width:20px;

			padding:0px 2px 0px 2px;

		}

		

		.MonthLinks a:hover

		{

			color:#591B5E;

		}

		

		.MonthLinks .Active

		{

			color:#591B5E;

			font-weight:bold;

		}

		

		

		

		.Date

		{

			font-size:11px;

			font-weight:bold;

		}

		

		.NewsItemSpacer

		{

			display:block;

			height:5px;

			width:176px;

			margin:5px 0px 0px 0px;

		}



.NewsGallery,.OtherGallery{display:inline-block;width:100%;margin:10px 0px 0px 0px;padding:0px;}		

.NewsGallery ul,.OtherGallery ul{list-style:none;width:100%;margin:auto;padding:0px;}		

.NewsGallery li,.OtherGallery li{list-style:none;float:left;width:110px;height:110px;text-align:center;padding:0px;}		



.sitemap{margin:0px;padding:0px;}

.sitemap ul{margin:0px;padding:0px;list-style:none;}

.sitemap li{margin:0px;padding:0px;}

.sitemap li.category, .sitemap li.product{}

.sitemap a{display:block;background:#dcdcdc;padding:5px;margin:5px;}

.sitemap a:hover{background:#ccc;}



.DefaultSubmit{

	width:1px !important;
	height:1px !important;
	border:none !important;
	visibility:hidden;
}



ul.DescTabs {

	margin: 10px 0px 0px 0px;

	padding: 0;

	float: left;

	list-style: none;

	height: 25px;

	border-bottom: 1px solid #ddd;

	border-left: 1px solid #ddd;

	width: 100%;

}

ul.DescTabs li {

	float: left;

	margin: 0;

	cursor: pointer;

	padding: 0px 10px ;

	height: 25px;

	line-height: 25px;

	border: 1px solid #ddd;

	border-left: none;

	font-weight: bold;

	background: #eee;

	overflow: hidden;

	position: relative;

}

ul.DescTabs li:hover {

	background: #CCCCCC;

}	

ul.DescTabs li.active{

	background: #FFFFFF;

	border-bottom: 1px solid #FFFFFF;

}

.tab_container {

	border: 1px solid #ddd;

	border-top: none;

	clear: both;

	float: left; 

	width: 100%;

	margin-bottom:10px;

}

.tab_container li{

margin-left:20px;

}

.tab_content {

	padding: 10px;

	font-size: 1em;

	display: none;

}

#container {

	margin: 0px auto;}



.CartRecordTr i{

font-size:11px;

}



/* additiona css end*/



.EmailTable { background:#eee;}

.EmailTable td { background:#fff; padding:5px;}

.EmailTable .txtBox{ border:1px solid #bbb; font:normal 14px Arial;  padding:4px; text-align:left}

