.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.col-xs-15 {width: 20%;float: left;}
@media (min-width: 768px) {
    .col-sm-15 {width: 20%;float: left;}
}
@media (min-width: 992px) {
    .col-md-15 {width: 20%;float: left;}
}
@media (min-width: 1200px) {
    .col-lg-15 {width: 20%;float: left;}
}

.container-fluid{padding:0px;}

.no-gutter {margin-left:0px!important;margin-right:0px!important;}
.no-gutter>[class^="col"]{padding-left:0px!important;padding-right:0px!important;}

.gutter-xs {margin-left:-5px!important;margin-right:-5px!important;}
.gutter-xs>[class^="col"]{padding-left:5px!important;padding-right:5px!important;}

.gutter-sm {margin-left:-10px!important;margin-right:-10px!important;}
.gutter-sm>[class^="col"]{padding-left:10px!important;padding-right:10px!important;}

@media (min-width: 1200px) {
    .gutter-lg {margin-left:-50px!important;margin-right:-50px!important;}
    .gutter-lg>[class^="col"]{padding-left:50px!important;padding-right:50px!important;}
}

.row.divider > [class*='col-']:before,.row.divider > [class*='col-']:after {background: #ddd; bottom: 0; content: " "; left: 0; position: absolute; width: 1px; top: 0;}
.row.divider > [class*='col-']:before {left: 0;}
.row.divider > [class*='col-']:after {right:-1px;left:auto;}
.row.divider > [class*='col-']:first-child:before,.row.divider > [class*='col-']:last-child:after {display: none;}

/****************************************************************************/
body {font-family:'Open Sans',sans-serif;color:#000;font-size:14px;font-weight:400;line-height:24px;background-color:#fff;padding:0px; margin:0px;}

textarea.form-control{resize:none;min-height:60px;}

span.required{color:red;font-weight:700;font-size:20px;line-height:1;}

h1,.h1{font-weight:500;font-size:26px;color:#8A8A8A;line-height:26px;margin:0 0 15px;}
h2,.h2{font-weight:500;font-size:22px;color:#810000;margin:0 0 15px;}
h3,.h3{font-weight:400;font-size:20px;color:#000;margin:0 0 10px;}

.separator{border-top:10px solid #000;margin:30px 0px;}

.control-label,dt{font-weight:500;}
.control-label span.required{color:#f00;font-weight:500;}

/****************************************************************************/
.bg-danger{background:#810000;}

a{color:#810000;}
a:hover{color:#000;}

#MainBanner222{overflow:hidden; position:absolute; top:0px; z-index:-1;}
#MainBanner222 img{min-height:100vh; width:100%;}

#MainBanner{overflow:hidden; position:absolute; width:100%; height:100vh; left:0px; top:0px; z-index:-1;}
#MainBanner .slide{
	background-repeat:no-repeat; 
	background-position:top center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%; height:100%;
}

/****************************************************************************/
#LeftSection{padding:0 15px; position:fixed; height:100%; width:16.9%;}
#Header .logo{padding:12px 0;}
#Header .caret{border-left:3px dashed;border-left:3px solid\9;border-top:3px solid transparent;border-bottom:3px solid transparent;color:#000;}

#Footer{bottom:15px; line-height:18px; position:absolute; text-align:center; width:87%;}
#Footer .copy{color:#eeb2b2; font-size:11px; margin-top:18px; text-transform:uppercase;}
#Footer a{color:#eeb2b2; font-size:20px; margin:0 10px;}
#Footer a:hover{color:#000;}

#MainContentWrap #TopNav,#MainContentWrap #SearchPanel{margin:20px; position:relative;}
#MainContentWrap .list-group{box-shadow:none; margin:0 0 20px 20px;}
#MainContentHome .btmLogo{position:absolute; width:100%;}

#MainContentWrap .contactForm{background:#f7f7f7; border:none; padding:20px 20px 0 20px;}
#MainContentWrap .contactForm .panel-heading{background:none; border-bottom:1px solid #000; font-weight:700; margin-bottom:15px; padding:0 0 15px;}
#MainContentWrap .contactForm .form-control{height:40px; color:#000; font-weight:600;}
#MainContentWrap .contactForm textarea.form-control{height:100px;}

#SearchPanel{margin:0 0 15px; float:right;}
#SearchPanel .form-control{background:rgba(250,250,250,0.4);border:none; font-size:14px; height:40px; width:250px;}
#SearchPanel .input-group .btn{background:rgba(250,250,250,0.4);border:none !important;box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;color:#000; font-size:17px; height:40px;}

#TopNav{background:rgba(0,0,0,0.2); border-radius:5px; margin-left:15px; padding:5px; float:right;}
#TopNav a{color:#fff; font-size:13px; margin:0 5px;}
#TopNav a:hover,#TopNav a.active{color:#EEB2B2;}

/* Left Category Navigation
***************************************************/
#sidebar-nav .navbar-collapse{padding:0px;}
#sidebar-nav .navbar{border-radius:0px;}
#sidebar-nav .navbar .navbar-nav{float:none;}
#sidebar-nav .navbar .navbar-nav ul{list-style:none; padding:0px;}
#sidebar-nav .navbar .navbar-nav>li a{background:none !important; color:#fff; display:block; padding:0px; line-height:24px;}
#sidebar-nav .navbar .navbar-nav>li a:hover,#sidebar-nav .navbar .navbar-nav>li.active a{background:none !important; color:#000; text-decoration:none;}
#sidebar-nav .panel{margin:0px; text-shadow:none; background:none !important; border:none; border-radius:0px; float:none!important; box-shadow:none; text-align:right;}
.navbar{margin-bottom:0px; min-height:auto;}
#sidebar-nav .navbar .navbar-nav>li a:hover .caret,#sidebar-nav .navbar .navbar-nav>li.active a .caret{color:#fff;}
#sidebar-nav .navbar .navbar-nav>li div a{color:#EEB2B2 !important;}
#sidebar-nav .navbar .navbar-nav>li div a:hover{color:#fff !important; text-decoration:underline;}

#sidebar-nav .caret{display:none;}

.CategoryNav{display:none;text-align:right;}
.CategoryNav ul{list-style:none; }
.CategoryNav ul li a{color:#fff; display:block; padding:0px; line-height:24px;}
.CategoryNav ul li a:hover{color:#000; text-decoration:none;}
.CategoryNav .nav-back{color:#fff;}
/****************************************************************************/

@media (max-width: 1199px) {
	#LeftSection{width:25%;}
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 991px) {
	#Footer{padding:50px 0 10px; position:static; width:100%;}
}

@media (max-width: 767px) {
	#LeftSection{position:static; height:auto; width:100%;}
	#SearchPanel{margin:15px;}
    #SearchPanel .form-control{width:100%;}
	#TopNav{text-align:center; width:100%;}
	#MainContentHome .btmLogo{position:static;}
	#Header .logo{padding:20px 0;}
	.navbar-toggle{position:absolute; top:-60px; right:0px; margin-right:0px;border:1px solid #fff;border-radius:4px;}
	.navbar-toggle .icon-bar{border-top:2px solid #fff;}
	#sidebar-nav .panel{text-align:left;}
	#sidebar-nav .navbar .navbar-nav>li a{background:#000 !important; margin-bottom:1px; padding:5px 15px;}
	#sidebar-nav .navbar .navbar-nav>li a:hover,#sidebar-nav .navbar .navbar-nav>li.active a{background:#0032AB !important;}
	#Header .caret{color:#fff;}
	.navbar-collapse{box-shadow:none;}
	.navbar-nav {margin:0px;}

	.CategoryNav{text-align:left;width:100%;margin:0px; padding:0px;}
	.CategoryNav ul{margin:0px; padding:0px;}
	.CategoryNav ul li a{background:#000 !important; margin-bottom:1px; padding:5px 15px;}
	.CategoryNav ul li a:hover{background:#0032AB !important;}

	#Footer{padding:10px 0;}

	#MainBanner{position:static; top:auto;}
}

@media (max-width: 679px) {
}

@media (max-width: 599px) {
}

@media (max-width: 479px) {
}

@media (max-width: 439px) {
}

@media (max-width: 399px) {
}

@media (max-width: 359px) {
}