.DivTab{
width:100%;
}
.DivTab ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
.DivTab li {
	float: left;
	background: #900000;
	margin: 0 3px 0 0;
	border-radius: 5px 5px 0px 0px;
}

.DivTab a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0.6em 1em 0.25em;
	font-size:11px;
	font-weight:bold;
}

.DivTab a:hover {
	color: #FFECB4;
}

.DivTab li.selected {
	font-weight: bold;	
}

.DivTab li.selected a {
	color: #ffffff;
}

.paging {font-weight:bold; border-bottom:1px dotted #999999; border-top:1px dotted #999999; padding:5px 0px 5px 0px; clear:both;}  
.paging a{border:1px solid #dcdcdc; background-color:#dddddd;padding:0px 3px 0px 3px;font-weight:bold;color:#666666;text-decoration:none;font-weight:bold;}
.paging a:hover{border:1px solid #c1dc0a; padding:0px 3px 0px 3px;font-weight:bold;color:#000;text-decoration:none;font-weight:bold;}
input.SortBox{text-align:center;width:50px;}

#MainAdditionDiv{width:100%;}

#MainAdditionDiv input[type=text], 
#MainAdditionDiv  select ,
#MainAdditionDiv  input[type=password] 
{
    width: 100px !important;
    height: 24px;
    padding: 2px;
    border: 1px solid #e0c47d;
    font-size: 13px;
    text-indent: 5px;
}

/* tab end*/
