.BorNone{border:none;}
.Clear{clear:both;}
.Hide{display:none;}
.floatLeft{float:left; }
.floatRight{float:right;}
p{margin:0 0 15px 0 ;padding:0;}

a{text-decoration:none;color:#295289;}
a:hover{text-decoration:none;color:#000;}
a img,.NoBorder{border:none;padding:0px;}
a *,a:hover{text-decoration:none;cursor:pointer;}

.AlignRight{text-align:right;}
.AlignLeft{text-align:left;}

.BrownButton {color:#fff; font:bold 10px/20px Arial; padding:6px 10px; text-transform:uppercase; }
.BrownButton:hover{color:#fff;background:#621e01;}
h2{padding:0; margin:15px 0 8px 0; font-size:19px; font-weight:normal; color:#113565;}
h3{padding:0; margin:7px 0 10px 0; font:bold 19px Arial; color:#123666;}
h4{padding:0; margin:px 0 10px 0; font-size:16px; font-weight:bold; color:#113565;}
h6{padding:0; margin:5px 0; font:bold 12px/22px Arial; color:#123666;}
h4 span{color:#af3701;}

table{padding:0; margin:0; border:0; }
td{text-align:left;}


hr { height:3px; background:#ededed; border:none; margin:10px 0px; }
.clear { clear:both;}