/*
 * AeroWindow - jQuery Plugin (v3.5)
 * Copyright 2010, Christian Goldbach
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * 
 * Project Website:
 * http://www.soyos.net/aerowindow-jquery.html
 * http://www.soyos.net
 *
 *
 *
 * Requires Easing Plugin for Window Animations:
 * jQuery Easing v1.3 - http://gsgd.co.uk/sandbox/jquery/easing/
 *
 */
 
 
/*-----------------------------------------------------------------------------
AeroWindow Style - Regular
-----------------------------------------------------------------------------*/
.AeroWindow {
  position: absolute;
  background: url(../images/WindowsAeroStyle/inactive/lines.png);
  background-position: 0px -100px;
  z-index: 10;
  overflow: hidden;
  display: block;  
}


.AeroWindow .table-tl {
  background: url(../images/WindowsAeroStyle/inactive/tl.png);
  min-width: 9px;
  height: 9px;
}
.AeroWindow .table-tm {
  background: url(../images/WindowsAeroStyle/inactive/tm.png);
}
.AeroWindow .table-tr {
  background: url(../images/WindowsAeroStyle/inactive/tr.png);
  min-width: 9px;
  height: 9px;
}
.AeroWindow .table-rm {
  background: url(../images/WindowsAeroStyle/inactive/rm.png);
}
.AeroWindow .table-bl {
  background: url(../images/WindowsAeroStyle/inactive/bl.png);
  width: 9px;
  height: 9px;
}
.AeroWindow .table-bm {
  background: url(../images/WindowsAeroStyle/inactive/bm.png);
}
.AeroWindow .table-br {
  background: url(../images/WindowsAeroStyle/inactive/br.png);
  width: 9px;
  height: 9px;
}
.AeroWindow .table-lm {
  background: url(../images/WindowsAeroStyle/inactive/lm.png);
}
.AeroWindow .table-mm {
  background: url(../images/WindowsAeroStyle/inactive/mm.png);  
}
/*-----------------------------------------------------------------------------
AeroWindow Style - Active
-----------------------------------------------------------------------------*/
.AeroWindow.active {
  position: absolute;
  background: url(../images/WindowsAeroStyle/active/lines.png) 0px -400px;
  z-index: 100;
}
.AeroWindow.active .table-tl {
  background: url(../images/WindowsAeroStyle/active/tl.png);
  width: 9px;
  height: 9px;
}
.AeroWindow.active .table-tm {
  background: url(../images/WindowsAeroStyle/active/tm.png);
}
.AeroWindow.active .table-tr {
  background: url(../images/WindowsAeroStyle/active/tr.png);
  width: 9px;
  height: 9px;
}
.AeroWindow.active .table-rm {
  background: url(../images/WindowsAeroStyle/active/rm.png);
}
.AeroWindow.active .table-bl {
  background: url(../images/WindowsAeroStyle/active/bl.png);
  width: 9px;
  height: 9px;
}
.AeroWindow.active .table-bm {
  background: url(../images/WindowsAeroStyle/active/bm.png);
}
.AeroWindow.active .table-br {
  background: url(../images/WindowsAeroStyle/active/br.png);
  width: 9px;
  height: 9px;
}
.AeroWindow.active .table-lm {
  background: url(../images/WindowsAeroStyle/active/lm.png);
}
.AeroWindow.active .table-mm {
  background: url(../images/WindowsAeroStyle/active/mm.png);
}     
.AeroWindow .table-mm-container {
  margin-top: 40px;
  border: 1px solid #b0c6e4;
}
.AeroWindow .table-mm-content {
  font-family: arial;
  padding: 5px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: auto;
}  
/*-----------------------------------------------------------------------------
AeroWindow Resizing
-----------------------------------------------------------------------------*/
.ui-resizable-e {
  right: 0px!important;
}
.ui-resizable-s {
  bottom: 0px!important;
}
.ui-icon {
  height:24px;
  width:24px;
}
.ui-icon-gripsmall-diagonal-se  {
  background-position:-76px -220px;
}
.ui-resizable-handle {
}    
/*-----------------------------------------------------------------------------
AeroWindow Title
-----------------------------------------------------------------------------*/
.AeroWindow .title {
  position: absolute; 
  margin: 10px 0px 0px 5px;
  text-shadow: #fff 0px 0px 5px; 
  color: #333;
  font-family: arial;
  padding-right: 5px;
  font-size: 14px;
  left: 5px;
  cursor: default;
}


/*-----------------------------------------------------------------------------
Button Area
-----------------------------------------------------------------------------*/
.buttons  {
  position: relative;
  float: right;
  top: -6px;
}        
.buttons  a{
  text-decoration: none;
  cursor: default;  
}  
/*-----------------------------------------------------------------------------
Buttons Regular Window
-----------------------------------------------------------------------------*/
.AeroWindow .buttons .win-min-btn {
  width: 27px;
  height: 19px;
  display: block;
  float: left;
  background: url(../images/WindowsAeroStyle/inactive/btn-min.png);
}      
.AeroWindow .buttons .win-max-btn {
  width: 26px;
  height: 19px;
  display: block;
  float: left;
  background: url(../images/WindowsAeroStyle/inactive/btn-max.png);
}      
.AeroWindow .buttons .win-reg-btn {
  width: 26px;
  height: 19px;
  display: block;
  float: left;
  background: url(../images/WindowsAeroStyle/inactive/btn-reg.png);
}      
.AeroWindow .buttons .win-close-btn {
  width: 46px;
  height: 19px;
  float: left;
  display: block;
  background: url(../images/WindowsAeroStyle/inactive/btn-close.png);
}  
.AeroWindow .buttons .win-btn-leftedge {
  width: 2px;
  height: 19px;
  float: left;
  background: url(../images/WindowsAeroStyle/left.png);
}            
.AeroWindow .buttons .win-btn-rightedge {
  width: 2px;
  height: 19px;
  float: left;
  background: url(../images/WindowsAeroStyle/right.png);
}            
.AeroWindow .buttons .win-btn-spacer {
  width: 1px;
  height: 19px;
  float: left;
  background: url(../images/WindowsAeroStyle/spacer.png);
}            
.AeroWindow .buttons .WinBtnSet {
  float: left;
}

/*-----------------------------------------------------------------------------
Buttons Active Window
-----------------------------------------------------------------------------*/
.AeroWindow.active .buttons .win-min-btn {
  background: url(../images/WindowsAeroStyle/active/btn-min.png);
}      
.AeroWindow.active .buttons .win-max-btn {
  background: url(../images/WindowsAeroStyle/active/btn-max.png);
}      
.AeroWindow.active .buttons .win-reg-btn {
  background: url(../images/WindowsAeroStyle/active/btn-reg.png);
}      
.AeroWindow.active .buttons .win-close-btn {
  background: url(../images/WindowsAeroStyle/active/btn-close.png);
}            

/*-----------------------------------------------------------------------------
Buttons Hover Effects
-----------------------------------------------------------------------------*/
.AeroWindow .buttons .win-min-btn:hover {
  background: url(../images/WindowsAeroStyle/hover/btn-min.png);
}      
.AeroWindow .buttons .win-max-btn:hover {
  background: url(../images/WindowsAeroStyle/hover/btn-max.png);
}      
.AeroWindow .buttons .win-reg-btn:hover {
  background: url(../images/WindowsAeroStyle/hover/btn-reg.png);
}      
.AeroWindow .buttons .win-close-btn:hover {
  background: url(../images/WindowsAeroStyle/hover/btn-close.png);
}            


/*-----------------------------------------------------------------------------
DEMO CONTENT 
-----------------------------------------------------------------------------*/
.AeroWindow  .table-mm-content p {
  color: #222;
  margin: 0px;
  padding: 5px;
  font-family: arial;
  font-size: 12px;
}
.AeroWindow  .table-mm-content h1 {
  margin: 0px;
  padding: 5px;
  font-family: arial;
  font-size: 24px;
}
.AeroWindow  .table-mm-content a {
  margin: 0px;
  padding: 5px;
  font-family: arial;
  font-size: 12px;
}
.AeroWindow  .table-mm-content ul {
  color: #222;
  margin: 10px 0px 20px 22px;
  padding: 0px;
  font-family: arial;
  font-size: 12px;
}
#iframeHelper {
  display: none; 
  height: 100%; 
  width: 100%; 
  position: absolute; 
  left: 0px; 
  top: 0px; 
  background: url(../images/WindowsAeroStyle/empty.gif);
  z-index: 0;
}




