/* Fonts
***************************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic|Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300,300italic,400,400italic,700,700italic|Carrois+Gothic|Raleway:400,700|Voltaire');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
select {color:#000;}
/* Bootstrap Style Updates
***************************************************/
html {overflow-y: scroll;-webkit-text-size-adjust: 100%;}
body {background:#000; color:#fff; font-family:'Roboto',sans-serif; font-size:16px; line-height:21px;}
h1{color:#fff; font-family:'Raleway',sans-serif; font-size:38px; font-weight:700; line-height:38px; margin:0 0 8px; text-transform:uppercase;}

img,vidoe,object,iframe{max-width:100%;}
.no-gutter {margin-right:0;margin-left:0;}
.no-gutter > [class*='col-'] {padding-right:0;padding-left:0;}
.nomargin{margin:0px!important;}

.breadcrumb{border-bottom:1px dashed #434343; margin:15px 0px; background-color:transparent; padding:0 0 15px;}
.breadcrumb>li+li:before{content:"\00BB";color:#db291d;}

p{margin-bottom:20px;}
a{color:#db291d; text-decoration:none !important;}
a:hover{color:#fff;}

.Button{background:url(../images/btn_bg.jpg) repeat-x #d2d2d2 !important; border:none; border-radius:5px; color:#000; font-size:17px; font-weight:700; padding:4px 27px; text-transform:uppercase;}
.Button:hover{background:#e6686c !important;}
.Button2{background:url(../images/btn_bg.jpg) repeat-x #d2d2d2 !important; border:none; border-radius:5px; color:#000; font-size:20px; font-weight:700; padding:10px 27px; text-transform:uppercase;}
.Button2:hover{background:#e6686c !important;}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}

/* Navigation
***************************************************/
.navbar{margin:13px 0 0; min-height:40px;}
.navbar-inverse{background:none; border:none; border-radius:0px;}
.navbar-inverse .navbar-collapse{padding:0px; width:100%;}
.navbar-nav>li{border-right:1px solid #7f0003; margin:0px;}
.navbar-nav>li:last-child{border-right:none;}
.navbar-inverse .navbar-nav>li>a{color:#fff; font-family:'Roboto Condensed',sans-serif; font-size:18px; padding:10px 32px; text-transform:uppercase;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover{background:none; box-shadow:none; color:#000;}
.nav{background:url(../images/nav_bg.jpg) repeat-x; margin:0 0 10px;width:100%;}

#MainBnr{margin:10px 0 20px;}
#MainBnr a{display:block; width:100%;}

/* Skeleton 
***************************************************/
.container{width:1180px;}
#Header .headerTop{background:#1e1e1e; color:#909090; font-family:'Open Sans',sans-serif; font-size:13px; min-height:46px; margin-bottom:17px; padding-top:13px;}
#Header .headerTop .cont{margin-left:118px; text-transform:uppercase;}
#Header .headerTop .cont a{margin-right:37px;}
#Header .headerTop .topLink{color:#444444; text-transform:uppercase}
#Header .headerTop .topLink a{color:#909090;}
#Header .headerTop .topLink a:hover,#Header .headerTop .topLink .active{color:#db291d;}

#Header .event{margin-top:31px;}
#Header .logo{margin-top:6px;}
#Header .cart{background:#fff; border-radius:8px; color:#000; float:right; font-family:'Open Sans',sans-serif; font-size:15px; height:39px; line-height:39px; margin-bottom:9px; width:256px;}
#Header .cart span{background:#dedede; border-radius:8px 0 0 8px; float:left; line-height:15px; margin-right:10px; padding:8px 18px 7px;}
#Header .cart a{ color:#000;}
#Header .search{background:#fff; border-radius:8px; color:#000; float:right; font-size:15px; height:39px; margin-bottom:9px; width:256px;}
#Header .search input{border:none; color:#000; font-family:'Open Sans',sans-serif; float:left; font-size:13px; margin:9px 0 0 14px; width:200px;}
#Header .search a{float:right; margin:10px 12px 0 0;}
#Header .address{color:#fff; float:right; font-family:'Open Sans',sans-serif; font-size:12px; font-weight:700; line-height:18px; width:256px;}

#MainContent .feature{margin-right:-10px;margin-left:-10px; margin-bottom:20px;}
#MainContent .feature > [class*='col-'] {padding-right:10px;padding-left:10px;}
#MainContent .feature .redBg{background:#db1016;}
#MainContent .feature .blueBg{background:#253c87;}
#MainContent .feature .box{font-family:'Carrois Gothic',sans-serif; font-size:13px; padding:25px 0 22px;}
#MainContent .feature .box .title{font-size:19px; padding:12px 0 5px; text-transform:uppercase;}
#MainContent .feature.botMar{margin-bottom:40px;}

#MainContent .products.slideshow .slide {margin-right:23px; width:272px;white-space:normal;}
#MainContent .arrows{margin:-34px 0 0;}
#MainContent .products{margin-right:-10px;margin-left:-10px; margin-bottom:20px;}
#MainContent .products > [class*='col-'] {padding-right:10px;padding-left:10px; margin-bottom:20px; min-height:380px;}
#MainContent .products p{margin:15px 0 12px;}
#MainContent .products .price{color:#db1016; font-size:19px; margin-bottom:13px;}
#MainContent .products span{margin-left:5px;}

#MainContent .eventApparel{background:url(../images/event_bg.jpg) repeat-x #dcdcdc; color:#000; font-family:'Voltaire',sans-serif; font-size:24px; line-height:30px; padding:10px 0 5px; text-align:center;}
#MainContent .eventApparel .title{font-size:26px; margin:5px 0 10px;}

#MainContent .news{background:#28292b; font-family:'Open Sans',sans-serif; font-size:13px; line-height:21px; padding:18px 22px 10px;}
#MainContent .news .title{font-family:'Voltaire',sans-serif; font-size:20px; margin:0 0 8px;}
#MainContent .news .date{font-size:15px; margin-bottom:10px;}
#MainContent .news a{color:#fff;}
#MainContent .news a:hover{color:#db291d;}
#MainContent marquee{height:100px;}

#MainContent .nav-tabs{background:none; margin:0px;}
#MainContent .nav-tabs li.active a{background:#fff;}
#MainContent .nav-tabs li a{background:#d3d3d3;color:#000;}
#MainContent .tab-content{border:1px solid #fff; border-top:none; padding:15px;}

#Footer{background:url(../images/footer_bg.jpg) no-repeat center top; color:#a9a9a9; font-family:'Open Sans',sans-serif; font-size:12px; line-height:22px; margin:30px 0 0;}
#Footer .heading{font-size:15px; font-weight:600; margin-bottom:20px;}
#Footer .timing{line-height:24px;}
#Footer .green{color:#007000;}
#Footer .red{color:#ce1326;}
#Footer .ftrAddress{color:#fff; font-weight:700; line-height:18px; margin-bottom:20px;}

#Footer .newsletter{background:#fff; border-radius:5px; height:36px; margin:10px 0; padding:3px; width:100%;}
#Footer .newsletter input{border:none; color:#000; float:left;font-family:'Open Sans',sans-serif; font-size:12px; margin:5px 0 0 10px;}
#Footer .newsletter a{background:#ce1326; border-radius:5px; color:#fff; float:right; font-size:13px; padding:4px 10px; text-transform:uppercase;}
#Footer .newsletter a:hover{background:#000;}

#Footer .newsletter a{background:#ce1326; border-radius:5px; color:#fff; float:right; font-size:13px; padding:4px 10px; text-transform:uppercase;}
#Footer .newsletter a:hover{background:#000;}

#Footer .newsletter .Button3{background:#ce1326; border-radius:5px; color:#fff; float:right; font-size:13px; padding:4px 10px; text-transform:uppercase;}
#Footer .newsletter .Button3:hover{background:#000;}

#Footer .eventTxt{line-height:26px;}
#Footer .slogan{color:#fff; font-size:14px; font-weight:600;}

#Footer .copy{color:#7e7e7e; margin:20px 0;}
#Footer .copy a{color:#7e7e7e;}
#Footer .copy a:hover,#Footer .copy .active{color:#7e7e7e;}

/* Shopping Cart Page 
***************************************************/
.table-bordered,.table-bordered tr th,.table-bordered tr td{border-color:#1c1c1c!important;}
.table>thead>tr>th{vertical-align:middle;padding:10px;border-bottom-width:1px;background-color: #1c1c1c;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:10px;vertical-align:middle;}
.table .title{font-weight:bold;}
.table .title i{font-weight:normal;font-size:0.85em;}
.table .qty{width:120px;padding:10px 15px;text-align:center;}
.table .qty .input-group{width:90px;margin:auto;}
.table .qty .btn{padding:6px 8px;}
.table .price{width:115px;text-align:right;}
.table .action{width:80px;text-align:center;}
.table .bold{font-weight:bold;color:#CB0C11;}
.table .thumbnail {width: 44px;height: 44px;display: block;margin: 0 8px 0 0;border-color: #aaa;background: #fff; float:left;box-shadow:0px 0px 2px #aaa}
.table-striped>tbody>tr:nth-of-type(odd) {background-color:#000;}

/* Login/Register Page 
***************************************************/
#LoginPage .btn .glyphicon{font-size:0.9em;}
.panel{background:none; border:1px solid #1c1c1c;}
.panel .panel-heading{background:#1c1c1c; border-bottom:none; color:#fff;}

/* Checkout Page 
***************************************************/
#CheckoutPage .panel-heading{position:relative;}
#CheckoutPage .SameAsBilling{position:absolute;right:10px;top:5px;font-size:0.85em;color:#555;}

#ContactUsPage .GoogleMap {border: 1px solid #D6C08A; padding:2px;border-radius:5px;overflow:hidden;}
#ContactUsPage .GoogleMap .embed-responsive-16by9{padding-bottom: 87%;}
#ContactUsPage .form-group{margin-bottom:20px;}

/* Responsive Tables
***************************************************/
@media (max-width: 679px) {
    table.responsive, table.responsive tbody, table.responsive tfoot, table.responsive tbody td, table.responsive tbody tr {display: block; width:100%!important;}
    table.responsive tfoot tr{width:100%;}
    table.responsive thead tr {position: absolute;top: -9999px;left: -9999px;}
    table.responsive tbody tr td {border: none;border-bottom: 1px solid #bbb; position: relative;padding-left: 40%!important; white-space: normal;text-align:left!important;}
    table.responsive tbody tr td:before { position: absolute;top: 50%;left: 10px;width: 35%; padding-right: 10px; white-space: nowrap;text-align:left;font-weight: bold;content: attr(data-title); margin-top:-10px;}
}

/****************************** Responsive Styles **************************/
@media (max-width: 1079px) {
	.container{width:1000px;}
	#Header .headerTop .cont{margin-left:30px;}
	#Header .headerTop .cont a{margin-right:10px;}
	.navbar-inverse .navbar-nav>li>a{padding:10px 19px;}
	#MainContent .products.slideshow .slide {margin-right:20px; width:230px;}
}
@media (max-width: 999px) {
	.container{width:768px;}
	#Header .headerTop .pull-left,#Header .headerTop .pull-right{text-align:center; width:100%;}
	#Header .headerTop .cont{margin-left:0px;}
	#Header .logo img{width:90%;}
	.navbar-inverse .navbar-nav>li>a{font-size:16px;padding:10px 8px;}
	#Footer{text-align:center;}
	#Footer .copy,#Footer .copy .pull-right{width:100%;}
	#MainContent .products.slideshow .slide {width:235px;}
}
@media (max-width: 767px) {
	.container{width:auto;}
	#Header{text-align:center;}
	#Header .logo img{width:auto;}
	#Header .cart,#Header .search{float:none; margin:10px auto;}
	#Header .address{width:100%;}
	.navbar-header{background:#df141d;}
	.navbar-nav>li{border-right:none;}
	.nav{background:none; margin:0px;}
	.navbar-inverse .navbar-nav>li>a{background:url(../images/nav_bg.jpg) repeat-x;}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover{background:#df141d;}
	#MainContent .feature > [class*='col-'] {margin-bottom:20px; text-align:center;}
	#MainContent .products.slideshow .slide {margin:0 10px;width:200px;}
}
@media (max-width: 639px) {
	#MainContent .products.slideshow .slide {width:215px;}
}
@media (max-width: 479px) {
	#MainContent .products.slideshow .slide {width:300px;}
}
.form-group textarea {color:#000;}
ul li .shipping_method_li {padding:0px;margin:0px;}




#flexiselDemo2 { display:none; margin-top:20px; margin-bottom:30px;}
.nbs-flexisel-container { position:relative; max-width:100%; padding:0px 20px; }
.nbs-flexisel-ul { position:relative; width:99999px; margin:0px; padding:0px; list-style-type:none; text-align:center; }
.nbs-flexisel-inner { overflow:hidden; float:left; width:100%;}
.nbs-flexisel-item { float:left; margin:0px; padding:0px; cursor:pointer; position:relative; line-height:0px;}
.nbs-flexisel-item img{ cursor: pointer; position: relative; height:auto; max-width:100%; }

/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right { width:20px; height:20px; position: absolute; cursor: pointer; z-index: 100; opacity: 0.5;}
.nbs-flexisel-nav-left{ left:0px; background: url(../images/button-previous.png) no-repeat; }
.nbs-flexisel-nav-right{ right:0px; background: url(../images/button-next.png) no-repeat; }

.ProMgn { margin-bottom:20px;}
.product-img{ line-height:400px; border:1px solid #fff; padding:10px;}
.product-img img{ vertical-align:middle; }

#DisplayPriceDetails  label{padding: 6px 0px;}
#DisplayPriceDetails  span{float:right;}
#DisplayPriceDetails  .normal_price{color:#ff0000;font-size:20px;}
#DisplayPriceDetails  .strike{text-decoration:line-through;}
#DisplayPriceDetails  .sale_price{color:#00EB00;font-size:20px;margin-bottom:30px;}
#DisplayPriceDetails  .discount{}
#DisplayPriceDetails  .sale_price_with_tax{}
#DisplayPriceDetails  .sale_price_with_tax{}

.table-cart .grand-total{color:#00EB00;font-size:20px;}

