/* myzoom container (large thumb + small thumbs): */
#myzoom{display: none;}

/* Large thumbnail: */
#myzoom .myzoom_thumb{background: white url(images/loading.gif) center no-repeat;border: 1px solid #ddd;padding: 6px;-webkit-box-shadow: 0 0 10px #ddd;-moz-box-shadow: 0 0 10px #ddd;box-shadow: 0 0 10px #ddd;}

/* Large thumbnail - image (in case you want to add a border around the image within the frame) */
#myzoom .myzoom_thumb_image{ }

/* Small thumbnails: */
#myzoom .myzoom_small_thumbs li{background: white;border: 1px solid #ddd;margin: 10px;padding: 3px;}

/* The one on the left that makes them slide */
#myzoom ul li.myzoom_smallthumb_first{ }

/* The one on the right that makes them slide */
#myzoom ul li.myzoom_smallthumb_last{ }

/* The currently active one */
#myzoom ul li.myzoom_smallthumb_active{-webkit-box-shadow: 0 0 10px #ddd;-moz-box-shadow: 0 0 10px #ddd;box-shadow: 0 0 10px #ddd;}

/* Zoomed image area: */
#myzoom .myzoom_zoom_area,.myzoom_zoom_area{background: white url(images/loading.gif) center no-repeat;border: 1px solid #ddd;padding: 6px;-webkit-box-shadow: 0 0 10px #ddd;-moz-box-shadow: 0 0 10px #ddd;box-shadow: 0 0 10px #ddd;z-index:999999;}

/* Magnifier area (thumbnail hovering rectangle): */
#myzoom .myzoom_magnifier{background: white;border: 1px solid #bbb;}

/* Icon that will apear at the left bottom of the large thumbnail (optional): */
#myzoom .myzoom_icon{background: url(images/zoom1.png) no-repeat;width: 14px;height: 14px;}

/* Description area (optional) */
#myzoom .myzoom_description{background: white;font-style: italic;margin: 10px;padding: 6px 10px;}

.myzoom, .myzoom_thumb, .myzoom_thumb_image, .myzoom_source_image, .myzoom_zoom_preview, .myzoom_icon, .myzoom_hint{ display:none }
.myzoom, .myzoom ul, .myzoom li, .myzoom img, .myzoom_hint, .myzoom_icon, .myzoom_description{ margin:0; padding:0; border:0; list-style:none }
.myzoom, .myzoom_magnifier div, .myzoom_magnifier div img, .myzoom_small_thumbs ul, ul .myzoom_small_thumbs li, .myzoom_zoom_area div, .myzoom_zoom_img{ position:relative }
.myzoom img, .myzoom li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.myzoom, .myzoom_small_thumbs li{ float:left }
.myzoom_right{ float:right }
.myzoom li{ position:absolute }
.myzoom img{ vertical-align:bottom; max-width:none }
.myzoom_magnifier{ cursor:default }
.myzoom_magnifier div, .myzoom_small_thumbs{ overflow:hidden }
.myzoom_magnifier div img{ display:none }
.myzoom_icon, .myzoom_hint{ cursor:default; width:0; height:0; overflow:hidden }
.myzoom_small_thumbs li.vertical{ float:none }
.myzoom_zoom_area div{ overflow:hidden; z-index:997 }
.myzoom_zoom_preview{ position:absolute; z-index:998 }
.myzoom_zoom_img, .myzoom_hint{ z-index:999 }
.myzoom{ direction:ltr }
div.myzoom_description{ position:absolute; bottom:0; left:0; z-index:999 }
div.myzoom_description.rtl{ direction:rtl; text-align:right }