.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
}


/* ######### Default class for drop down menus ######### */

.anylinkcss{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
z-index: 99999; /* zIndex should be greater than that of shadow's below */
width: 280px; /* default width for menu */

border: 1px solid black;
padding: 10px 10px 10px 10px;
font: normal 11px Arial, Helvetica, sans-serif;
background: #591b5e;
color:#FFF;
text-transform:uppercase;
margin:0px;

}


.anylinkcss ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcss li{
	float:left;
	width: 140px;
	padding-bottom: 3px;
	padding-top:5px;
}
.anylinkcss ul li a{
padding-bottom: 3px;
padding-top:5px;
color:#fff;
text-decoration:none;
font-size:11px; 
}

.anylinkcss a:hover{ /*hover background color*/
color:#d4a1f4;
text-decoration:underline;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: normal 12px arial;
z-index: 99999; /*zIndex should be greater than that of shadow's below*/
background: #DEFFCA;
text-transform:uppercase;
}

.anylinkcsscols .column{
width: 130px;
float: left;
}

.anylinkcsscols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcsscols li{
padding-bottom: 3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99998; /*zIndex for shadow*/
background: #f5f5f5;
visibility: hidden;
}